<% content_for :title do %>
  Data Converters IPs 
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ 
                <%= link_to('IPs', {
                    :controller => 'home',
                    :action => 'ips'
                }) %>
            </span>
            <span>/ Data Coverters</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/dc-icon-s.png" />
				Data Converters IPs
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<p>
				Silicon Vision provides various types of data converters that are highly required by state of the art SoCs. The library contains high resolution, wide bandwidth pipe-lined ADCs, ultra-low power sigma delta ADCs and high resolution SAR ADCs. Various types of high end DACs are also supported. The library is silicon proven on different nodes from 180nm to 40nm.
 			</p>
 			
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/data-converters-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Data Converters IPs</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/data-converters.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h4 class="pull-left">DAC IPs</h4> 
			<div class="pull-right">
			</div>
 			<table class="table table-striped m80t">
				<thead>
					<tr>
						<th></th>
						<th>Process</th>
						<th>Status</th>
						<th>Resolution</th>
						<th>DNL</th>
						<th>INL</th>
						<th>Gain Error</th>
						<th>DC Error</th>
						<th>Bandwidth</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tleft"><strong>SiVi-JDAC6501</strong></td>
						<td>TSMC-65nm G</td>
						<td>Silicon Verified</td>
						<td>5 bits</td>
						<td>+/- 0.5 LSB</td>
						<td>+/-0.5 LSB</td>
						<td>+/-10% FS</td>
						<td>+/- 0.5 LSB</td>
						<td>0.5MHz to 5MHz</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-JDAC6501" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-SDAC6501</strong></td>
						<td>TSMC-65nm G</td>
						<td>Silicon Verified</td>
						<td>6 bits</td>
						<td>+/- 0.4 LSB</td>
						<td>+/- 0.3 LSB</td>
						<td>+/- 10% FS</td>
						<td>+/- 0.5 LSB</td>
						<td>DC</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-SDAC6501" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-CDAC180</strong></td>
						<td>TSMC 180nm G</td>
						<td>Silicon Verified</td>
						<td>7 bits</td>
						<td>+/- 0.5 LSB</td>
						<td>+/- 0.5 LSB</td>
						<td>+/- 10% FS</td>
						<td>+/- 0.5 LSB</td>
						<td>up to 2MHz</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-CDAC180" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-SDAC130</strong></td>
						<td>TSMC 130nm G</td>
						<td>GDS</td>
						<td>8 bits</td>
						<td>+/- 0.5 LSB</td>
						<td>+/- 1.0 LSB</td>
						<td>+/- 10% FS</td>
						<td>+/- 0.5 LSB</td>
						<td>6MHz</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-SDAC130" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-JDAC180</strong></td>
						<td>SMIC 180nm G</td>
						<td>Silicon Verified</td>
						<td>9 bits</td>
						<td>+/- 0.5 LSB</td>
						<td>+/- 1.0 LSB</td>
						<td>+/- 10% FS</td>
						<td>+/- 0.5 LSB</td>
						<td>DC</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-JDAC180" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h4 class="pull-left">ADC IPs</h4>
			<div class="pull-right">
			</div>
 			<table class="table table-striped m80t">
				<thead>
					<tr>
						<th></th>
						<th>Process</th>
						<th>Status</th>
						<th>ENOB</th>
						<th>SNDR</th>
						<th>Sampling<br />Frequency</th>
						<th>Signal BW</th>
						<th>Input Differential<br />Dynamic Range</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tleft"><strong>SiVi-SDADC1201</strong></td>
						<td>TSMC-180nm G</td>
						<td>Silicon Verified</td>
						<td>11 bits</td>
						<td>70 dB</td>
						<td>36 MHz</td>
						<td>1.1 MHz</td>
						<td>4 Vppd</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-SDADC1201" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-SDADC1601</strong></td>
						<td>TSMC-180nm G</td>
						<td>Silicon Verified</td>
						<td>14 bits</td>
						<td>NA</td>
						<td>8 MHz</td>
						<td>DC</td>
						<td>1.2 Vppd</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-SDADC1601" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-SDADC1602</strong></td>
						<td>Toshiba-40nm</td>
						<td>Silicon Verified</td>
						<td>13 bits</td>
						<td>NA</td>
						<td>8 MHz</td>
						<td>DC</td>
						<td>2.4 Vppd</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-SDADC1602" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-SDADC1603</strong></td>
						<td>TSMC-180nm G</td>
						<td>Silicon Verified</td>
						<td>13 bits</td>
						<td>NA</td>
						<td>16 MHz</td>
						<td>DC</td>
						<td>2.4 Vppd</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-SDADC1603" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-SDADC1202</strong></td>
						<td>TSMC-130nm G</td>
						<td>Silicon Verified</td>
						<td>12 bits</td>
						<td>NA</td>
						<td>32 MHz</td>
						<td>DC</td>
						<td>6.6 Vppd</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-SDADC1202" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-SAADC0901</strong></td>
						<td>TSMC-180nm G</td>
						<td>Silicon Verified</td>
						<td>9 bits</td>
						<td>53 dB</td>
						<td>0.2 MHz</td>
						<td>DC</td>
						<td>1.2 Vppd</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-SAADC0901" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-SAADC1301</strong></td>
						<td>TSMC-180nm G<br />non pure 5V</td>
						<td>Silicon Verified</td>
						<td>13 bits</td>
						<td>68 dB</td>
						<td>0.2 MHz</td>
						<td>DC</td>
						<td>Up to 3.5V</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-SAADC1301" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-PADC1001</strong></td>
						<td>SMIC-180nm G</td>
						<td>Silicon Verified </td>
						<td>10 bits</td>
						<td>55 dB</td>
						<td>150 MHz</td>
						<td>75 MHz</td>
						<td>1 Vppd</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-PADC1001" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-PADC1002</strong></td>
						<td>SMIC-180nm G</td>
						<td>Silicon Verified </td>
						<td>10 bits</td>
						<td>58 dB</td>
						<td>36 MHz</td>
						<td>7 MHz</td>
						<td>1 Vppd</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-PADC1002" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-PADC1003</strong></td>
						<td>SMIC-130nm G</td>
						<td>Silicon Verified</td>
						<td>10 bits</td>
						<td>63 dB</td>
						<td>50 MHz</td>
						<td>25 MHz</td>
						<td>1.2 Vppd</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-PADC1003" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-PADC1004</strong></td>
						<td>TSMC-130nm G</td>
						<td>Silicon Verified</td>
						<td>10 bits</td>
						<td>63 dB</td>
						<td>32 MHz</td>
						<td>8 MHz</td>
						<td>1.0 Vppd</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-PADC1004" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-13AD205B</strong></td>
						<td>TSMC90-G</td>
						<td>GDS</td>
						<td>13 bits</td>
						<td>75.5 dB</td>
						<td>205 MHz</td>
						<td>100 MHz</td>
						<td>1.0 Vppd</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs data-req-btn" data-id="SiVi-13AD205B" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <%= render "snippets/data-request-form" %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% content_for :javascript do %>
<script>
$(document).on("click", ".data-req-btn", function () {
var requestId = $(this).data('id');
$(".modal-body #product").val( requestId );
});
$('#data-req form').on("submit", function(e) {
    e.preventDefault();
    console.log($(this).serialize())  ;
    $.ajax({
        type: "POST",
        url: "/aj/datasheets/request",
        data: $(this).serialize()
    }).done(function(res) {$('.modal').modal("hide");announceInfo(res["msg"]) ;})
            .fail(function() { $('.modal').modal("hide");announceError(res["msg"]) ;});
});
</script>
<% end %>