<table class=table table-striped>
	<thead>
		<tr>
			<th>Items</th>
			<th>Process</th>
			<th>Status</th>
			<th>Resolution</th>
			<th>DNL</th>
			<th>INL</th>
			<th>Gain Error</th>
			<th>DC Error</th>
			<th>Bandwidth</th>
			<th>Product Brief</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>SiVi-JDAC6501</td>
			<td>TSMC-65nm G</td>
			<td>Silicon Verified</td>
			<td>5 bits</td>
			<td>/- 0.5LSB</td>
			<td>/-0.5LSB</td>
			<td>/-10% FS</td>
			<td>/- 0.5LSB</td>
			<td>0.5MHz to 5MHz</td>
			<td></td>
		</tr>
		<tr>
			<td>SiVi-SDAC6501</td>
			<td>TSMC-65nm G</td>
			<td>Silicon Verified</td>
			<td>6 bits</td>
			<td>/- 0.4LSB</td>
			<td>/-0.3LSB</td>
			<td>/-10% FS</td>
			<td>/- 0.5LSB</td>
			<td>DC</td>
			<td></td>
		</tr>
		<tr>
			<td>SiVi-CDAC180</td>
			<td>TSMC 180nm G</td>
			<td>Silicon Verified</td>
			<td>7 bits</td>
			<td>/- 0.5LSB</td>
			<td>/-0.5LSB</td>
			<td>/-10% FS</td>
			<td>/- 0.5LSB</td>
			<td>up to 2MHz</td>
			<td></td>
		</tr>
		<tr>
			<td>SiVi-SDAC130</td>
			<td>TSMC 130nm G</td>
			<td>GDS</td>
			<td>8 bits</td>
			<td>/- 0.5 LSB</td>
			<td>/-1.0LSB</td>
			<td>/-10% FS</td>
			<td>/- 0.5LSB</td>
			<td>6MHz</td>
			<td></td>
		</tr>
		<tr>
			<td>SiVi-JDAC180</td>
			<td>SMIC 180nm G</td>
			<td>Silicon Verified</td>
			<td>9 bits</td>
			<td>/- 0.5 LSB</td>
			<td>/-1.0LSB</td>
			<td>/-10% FS</td>
			<td>/- 0.5LSB</td>
			<td>DC</td>
			<td></td>
		</tr>
	</tbody>
</table>

<table class=table table-striped>
	<thead>
		<tr>
			<th></th>
			<th>Process</th>
			<th>Status</th>
			<th>ENOB</th>
			<th>SNDR</th>
			<th>Sampling Frequency</th>
			<th>Signal BW</th>
			<th>Input Differential dynamic range</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="tleft"><strong>SiVi-SDADC1201</strong></td>
			<td>TSMC-180nmG</td>
			<td>Silicon Verified</td>
			<td>11bits</td>
			<td>70dB</td>
			<td>36MHz</td>
			<td>1.1MHz</td>
			<td>4Vppd</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-SDADC1601</strong></td>
			<td>TSMC-180nmG</td>
			<td>Silicon Verified</td>
			<td>14bits</td>
			<td>NA</td>
			<td>8MHz</td>
			<td>DC</td>
			<td>1.2Vppd</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-SDADC1602</strong></td>
			<td>Toshiba-40nm</td>
			<td>Silicon Verified</td>
			<td>13bits</td>
			<td>NA</td>
			<td>8MHz</td>
			<td>DC</td>
			<td>2.4Vppd</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-SDADC1603</strong></td>
			<td>TSMC-180nmG</td>
			<td>Silicon Verified</td>
			<td>13bits</td>
			<td>NA</td>
			<td>16MHz</td>
			<td>DC</td>
			<td>2.4Vppd</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-SDADC1202</strong></td>
			<td>TSMC-130nmG</td>
			<td>Silicon Verified</td>
			<td>12bits</td>
			<td>NA</td>
			<td>32MHz</td>
			<td>DC</td>
			<td>6.6Vppd</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-SAADC0901</strong></td>
			<td>TSMC-180nmG</td>
			<td>Silicon Verified</td>
			<td>9bits</td>
			<td>53dB</td>
			<td>0.2MHz</td>
			<td>DC</td>
			<td>1.2Vppd</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-SAADC1301</strong></td>
			<td>TSMC-180nm-G non pure 5V</td>
			<td>Silicon Verified</td>
			<td>13bits</td>
			<td>68dB</td>
			<td>0.2MHz</td>
			<td>DC</td>
			<td>Up to 3.5V</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-PADC1001</strong></td>
			<td>SMIC-180nm G</td>
			<td>Silicon Verified </td>
			<td>10bits</td>
			<td>55dB</td>
			<td>150MHz</td>
			<td>75MHz</td>
			<td>1Vppd</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-PADC1002</strong></td>
			<td>SMIC-180nm G</td>
			<td>Silicon Verified </td>
			<td>10bits</td>
			<td>58dB</td>
			<td>36MHz</td>
			<td>7MHz</td>
			<td>1Vppd</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-PADC1003</strong></td>
			<td>SMIC-130nm G</td>
			<td>Silicon Verified</td>
			<td>10bits</td>
			<td>63dB</td>
			<td>50MHz</td>
			<td>25MHz</td>
			<td>1.2Vppd</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-PADC1004</strong></td>
			<td>TSMC-130nm G</td>
			<td>Silicon Verified</td>
			<td>10bits</td>
			<td>63dB</td>
			<td>32MHz</td>
			<td>8MHz</td>
			<td>1.0Vppd</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-13AD205B</strong></td>
			<td>TSMC90-G</td>
			<td>GDS</td>
			<td>13bits</td>
			<td>75.5dB</td>
			<td>205MHz</td>
			<td>100MHz</td>
			<td>1.0Vppd</td>
		</tr>
	</tbody>
</table>

<table>
	<thead>
		<tr>
			<th></th>
			<th>Process</th>
			<th>Status</th>
			<th>Input frequency</th>
			<th>Output clock frequency</th>
			<th>Long term rms jitter</th>
			<th>Current consumption</th>
			<th>Product Brief</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="tleft"><strong>SiVi-NPLL1G65</strong></td>
			<td>TSMC-65nmG</td>
			<td>Silicon Verified</td>
			<td>25MHz</td>
			<td>1GHz</td>
			<td>7ps</td>
			<td>&lt;5mA</td>
			<td></td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-FPLL4G65</strong></td>
			<td>TSMC-65nmG</td>
			<td>Silicon Verified</td>
			<td>300MHz to 550MHz</td>
			<td>1.25GHz : 3.4GHz</td>
			<td>&lt; 7ps</td>
			<td>&lt;10mA</td>
			<td></td>
		</tr>
	</tbody>
</table>

<table>
	<thead>
		<tr>
			<th></th>
			<th>Process</th>
			<th>Status</th>
			<th>Supply Voltage</th>
			<th>Output Frequency</th>
			<th>Wake up time</th>
			<th>Current Consumption</th>
			<th>Phase Noise @1MHz</th>
			<th>Auto-calibration</th>
			<th>Product Brief</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="tleft"><strong>SiVi-RTC18001</strong></td>
			<td>TSMC-180nmG</td>
			<td>Silicon Verified</td>
			<td>1.8V ( /-10%)</td>
			<td>32kHz ( /-1%)</td>
			<td>&lt; 100us</td>
			<td>&lt; 250nA</td>
			<td></td>
			<td></td>
			<td>
				<a target=_blank small href=http://media.wix.com/ugd/1d8d19_703de774437c4ca26a27a8dfdd3154a8.pdf title=Download>Download</a>
			</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-XO32K18001</strong></td>
			<td>TSMC-180nmG</td>
			<td>Silicon Verified</td>
			<td>1.8V ( /-10%)</td>
			<td>32KHz</td>
			<td>&lt; 500ms</td>
			<td>&lt;500nA</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-XO32M18001</strong></td>
			<td>TSMC-180nmG</td>
			<td>Silicon Verified</td>
			<td>1.8V ( /-10%)</td>
			<td>32MHz</td>
			<td>&lt; 500ms</td>
			<td>&lt;500uA</td>
			<td>&lt; -145dBc/Hz</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-XO27M18001</strong></td>
			<td>TSMC-180nmG</td>
			<td>Silicon Verified</td>
			<td>1.8V ( /-10%)</td>
			<td>16MHz to 27MHz</td>
			<td>&lt; 500ms</td>
			<td>&lt;500uA</td>
			<td>&lt; -145dBc/Hz</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-RC12M18001</strong></td>
			<td>TSMC-180nmG</td>
			<td>Silicon Verified</td>
			<td>1.8V ( /-10%)</td>
			<td>12MHz ( /-10%)</td>
			<td>&lt; 10us</td>
			<td>&lt; 60uA</td>
			<td></td>
			<td></td>
			<td>
				<a target=_blank small href=http://media.wix.com/ugd/1d8d19_703de774437c4ca26a27a8dfdd3154a8.pdf title=Download>Download</a>
			</td>
		</tr>
		<tr>
			<td class="tleft"><strong>SiVi-RC10M6501</strong></td>
			<td>TSMC-65nmG</td>
			<td>Silicon Verified</td>
			<td>1.0V ( /-10%)</td>
			<td>10MHz ( /-3%)</td>
			<td>&lt; 10us</td>
			<td>&lt; 50uA</td>
			<td></td>
			<td></td>
			<td>
				<a target=_blank small href=http://media.wix.com/ugd/1d8d19_00c7f0bc4ea4924234cc603a511c33d2.pdf title=Download>Download</a>
			</td>
		</tr>
	</tbody>
</table>