<% content_for :title do %>
  Clock Generators and synthesizers IPs
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ 
				<%= link_to('IPs', {
                    :controller => 'home',
                    :action => 'ips'
                }) %>
			</span>
			<span>/ 
				<%= link_to('AMS', {
                    :controller => 'Ams',
                    :action => 'index'
                }) %>
			</span>
			<span>/ Clock Generators and synthesizers</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/AMS-icon-s.png" />
				Clock Generators and synthesizers IPs
			</h3>
		</div>
		<div class="col-lg-5 center-txt">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<p>
				Silicon Vision provides various types of PLL clock generators and frequency synthesizer for different ASIC and RF applications. The library contains ultra-low power, low noise frequency synthesizers used for low energy Bluetooth and IEEE802.15.4g TRx, general purpose wide range low noise clock generators for high speed SerDes, and fully integrated sync separators for video front ends. The library is silicon verified on various technology nodes starting from 180nm to 40nm.
 			</p>
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/clock-gen-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Low Power Bluetooth</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/clock-gen.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h4>Clock Generatos and Synthesizer IPs</h4>
 			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Process</th>
						<th>Status</th>
						<th>Input<br />frequency</th>
						<th>Output<br />clock frequency</th>
						<th>Long term<br />rms jitter</th>
						<th>Current<br />consumption</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tleft"><strong>SiVi-NPLL1G65</strong></td>
						<td>TSMC-65nm G</td>
						<td>Silicon Verified</td>
						<td>25MHz</td>
						<td>1GHz</td>
						<td>7ps</td>
						<td>&lt;5mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-FPLL4G65</strong></td>
						<td>TSMC-65nm G</td>
						<td>Silicon Verified</td>
						<td>300MHz to 550MHz</td>
						<td>1.25GHz : 3.4GHz</td>
						<td>&lt; 7ps</td>
						<td>&lt;10mA</td>
						<td nowrap>Ferrari Slave PLL<br />current consumptions</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-FPLL128M130</strong></td>
						<td>TSMC-130nm G</td>
						<td>Silicon Verified</td>
						<td>10MHz to 20MHz</td>
						<td>(8, 32, 64, 128)MHz</td>
						<td>1MHz to 8MHz 120ps</td>
						<td>&lt;5mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-NPLL1P25G65</strong></td>
						<td>TSMC-65nm G</td>
						<td>GDS</td>
						<td>25MHz</td>
						<td>1.25GHz</td>
						<td>(BER 10-12) < 150ps</td>
						<td>&lt;6mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-NPLL70M180</strong></td>
						<td>TSMC-180nm G</td>
						<td>Silicon Verified</td>
						<td>35MHz and 70MHz</td>
						<td>(640, 70, 35)MHz</td>
						<td>< 30ps</td>
						<td>&lt;3mA</td>
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-NPLL32M180</strong></td>
						<td>Jazz- 180nm G</td>
						<td>Silicon Verified</td>
						<td>161MHz</td>
						<td>2.576GHz</td>
						<td>< 50ps</td>
						<td>&lt;3mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-FPLL600M180</strong></td>
						<td>SMIC-180nm G</td>
						<td>Silicon Verified</td>
						<td>up to 150MHz</td>
						<td></td>
						<td>< 50ps</td>
						<td></td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr class="success">
						<td><strong>RMS Phase error</strong></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-FPLL0P9G180</strong></td>
						<td>TSMC-180nm G</td>
						<td>Silicon Verified</td>
						<td>13MHz to 26MHz</td>
						<td>0.4GHz to 1.05GHz</td>
						<td>< 1.2 o</td>
						<td>< 4.5 mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-FPLL2P4G180</strong></td>
						<td>TSMC-180nm G</td>
						<td>Silicon Verified</td>
						<td>13MHz, 26MHz, 52MHz</td>
						<td>2.4GHz to 2.5GHz</td>
						<td>< 1.8 o</td>
						<td>< 5 mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-FPLL2P4G130</strong></td>
						<td>GSMC-130nm</td>
						<td></td>
						<td>13MHz, 26MHz, 52MHz</td>
						<td>2.4GHz to 2.5GHz</td>
						<td>< 1.8 o</td>
						<td>< 4 mA</td>
						<td nowrap>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
										Request Data Sheet
									</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Request Date Sheet</h4>
      </div>
      <div class="modal-body">
		<form>
		  <fieldset>

		    <div class="form-group">
		      <label for="inputEmail">Email</label>
		      <input type="text" class="form-control" id="inputEmail" placeholder="">
		    </div>
		    <button type="submit" class="btn blue-but small pull-right">Request Date Sheet</button>
		  </fieldset>
		</form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
