<% content_for :title do %>
  AMS IPs 
<% end %>

<% content_for :description do %>
  AMS IPs
<% end %>

<% content_for :keywords do %>
  AMS,IPs
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ 
                <%= link_to('IPs', {
                    :controller => 'home',
                    :action => 'ips'
                }) %>
            </span>
            <span>/ AMS</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 standalone-ip">
			<div class="col-lg-3 pull-left"><img src="/assets/AMS-icon.png" /></div>

			<div class="col-lg-8 pull-right tleft np">

				<h4>AMS IPs Includs :</h4>
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="/ams/clock-generators-synthesizer">
                    		<img src="/assets/clock-gen.png">
							Clock Generators and Synthesizer IPs
                    	</a>
	                </li>
	                <li>
	                	<a href="/ams/realtime-clocks-oscillators">
                    		<img src="/assets/realtime-osci.png">
							Real Time CLocks and Oscillators IPs
                    	</a>
	                </li>
	                <li>
	                	<a href="/ams/video-analog-front-ends">
                    		<img src="/assets/video-analog.png">
							Video Analog Front-Ends IPs
                    	</a>
	                </li>
				</ul>
			</div>
		</div>
	</div>
</div>