<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ IPs</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/pm-icon-s.png" />
				Real Time Clocks (RTC) & Oscillators IPs
			</h3>
		</div>
		<div class="col-lg-5">
			<button type="submit" class="btn blue-but small m30t m50b pull-right">
				Download Product Brief
			</button>
			<button type="submit" class="btn blue-but small m30t m50b pull-right">
				REQUEST DATA SHEET
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<p>
				Silicon Vision IP library provides ultra-low power ultra-high accurate RTCs that are highly required in most of high end SoCs. The library provides also wide variety of RC and crystal oscillators that covers wide range of frequencies starting from 10s of KHs to 100s of MHz. Auto calibration feature is supported if high accuracy is a demand. The library is verified on different nodes starting from 180nm to 40nm.
 			</p>
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/rtc-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Low Power Bluetooth</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/rtc.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h4>RTC and Oscillator IPs</h4>
 			<table class=table table-striped>
				<thead>
					<tr>
						<th></th>
						<th>Process</th>
						<th>Status</th>
						<th>Supply Voltage</th>
						<th>Output Frequency</th>
						<th>Wake up time</th>
						<th>Current Consumption</th>
						<th>Phase Noise @1MHz</th>
						<th>Auto-calibration</th>
						<th>Product Brief</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tleft"><strong>SiVi-RTC18001</strong></td>
						<td>TSMC-180nmG</td>
						<td>Silicon Verified</td>
						<td>1.8V ( /-10%)</td>
						<td>32kHz ( /-1%)</td>
						<td>&lt; 100us</td>
						<td>&lt; 250nA</td>
						<td></td>
						<td></td>
						<td>
							<a target=_blank small href=http://media.wix.com/ugd/1d8d19_703de774437c4ca26a27a8dfdd3154a8.pdf title=Download>Download</a>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-XO32K18001</strong></td>
						<td>TSMC-180nmG</td>
						<td>Silicon Verified</td>
						<td>1.8V ( /-10%)</td>
						<td>32KHz</td>
						<td>&lt; 500ms</td>
						<td>&lt;500nA</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-XO32M18001</strong></td>
						<td>TSMC-180nmG</td>
						<td>Silicon Verified</td>
						<td>1.8V ( /-10%)</td>
						<td>32MHz</td>
						<td>&lt; 500ms</td>
						<td>&lt;500uA</td>
						<td>&lt; -145dBc/Hz</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-XO27M18001</strong></td>
						<td>TSMC-180nmG</td>
						<td>Silicon Verified</td>
						<td>1.8V ( /-10%)</td>
						<td>16MHz to 27MHz</td>
						<td>&lt; 500ms</td>
						<td>&lt;500uA</td>
						<td>&lt; -145dBc/Hz</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-RC12M18001</strong></td>
						<td>TSMC-180nmG</td>
						<td>Silicon Verified</td>
						<td>1.8V ( /-10%)</td>
						<td>12MHz ( /-10%)</td>
						<td>&lt; 10us</td>
						<td>&lt; 60uA</td>
						<td></td>
						<td></td>
						<td>
							<a target=_blank small href=http://media.wix.com/ugd/1d8d19_703de774437c4ca26a27a8dfdd3154a8.pdf title=Download>Download</a>
						</td>
					</tr>
					<tr>
						<td class="tleft"><strong>SiVi-RC10M6501</strong></td>
						<td>TSMC-65nmG</td>
						<td>Silicon Verified</td>
						<td>1.0V ( /-10%)</td>
						<td>10MHz ( /-3%)</td>
						<td>&lt; 10us</td>
						<td>&lt; 50uA</td>
						<td></td>
						<td></td>
						<td>
							<a target=_blank small href=http://media.wix.com/ugd/1d8d19_00c7f0bc4ea4924234cc603a511c33d2.pdf title=Download>Download</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>