<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ IPs</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/AMS-icon-s.png" />
				Video Analog Front-Ends IPs
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<p>
				Silicon Vision provide high end IP library suitable for diversified HD video applications. This include video analog front ends that deals with RGB/YPrPb graphics processing and C-Y/CVBS signal processing. Different sampling rates are supported starting from 36MHz up to 205MHz. The library contains high speed LVDS transmitters for high resolution flat panels displays. The library is silicon verified on different nodes starting from 180nm to 90nm.
 			</p>
 			
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/vfe-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Low Power Bluetooth</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/vfe.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
 				<div class="col-lg-12">
 					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th>Process</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="tleft"><strong>SiVi-SV18001</strong></td>
								<td>SMIC?180nmG</td>
								<td>Silicon Verified</td>
							</tr>
							<tr>
								<td class="tleft"><strong>SiVi-SV18002</strong></td>
								<td>SMIC?180nmG</td>
								<td>Silicon Verified</td>
							</tr>
							<tr>
								<td class="tleft"><strong>SiVi-SV18003</strong></td>
								<td>SMIC?180nmG</td>
								<td>Silicon Verified</td>
							</tr>
							<tr>
								<td class="tleft"><strong>SiVi-AD3150</strong></td>
								<td>SMIC?180nmG</td>
								<td>Silicon Verified</td>
							</tr>
							<tr>
								<td class="tleft"><strong>SiVi-AD3250</strong></td>
								<td>SMIC?130nmG</td>
								<td>Silicon Verified</td>
							</tr>
							<tr>
								<td class="tleft"><strong>dSiVi-VTX0945</strong></td>
								<td>TSMC ? 90nmG</td>
								<td>Silicon Verified</td>
							</tr>
							<tr>
								<td class="tleft"><strong>SiVi-VTX09410</strong></td>
								<td>TSMC ? 90nmG</td>
								<td>Silicon Verified</td>
							</tr>
						</tbody>
					</table>
 				</div>
 			</div>
			<div class="row">
 				<div class="col-lg-12">
					<h4>SIVI-SV18001  (TSMC/SMIC 180nm (1P5M))</h4>
					<ul>
						<li>Frequency range 2.400–2.4835 GHz, with FSK/GFSK</li>
						<li>Sensitivity = -87 dBm @ 1Mbps</li>
						<li>Output power range : -20 – +2 dBm</li>
						<li>Ultra low power consumption</li>
					</ul>
 				</div>
 			</div>
			<div class="row">
 				<div class="col-lg-12">
 					<h4>SIVI-SV18002 (TSMC/SMIC 180nm (1P5M))</h4>
				 	<ul>
						<li>Frequency range 2.400–2.4835 GHz, with FSK/GFSK</li>
						<li>Sensitivity = -87 dBm @ 1Mbps</li>
						<li>Output power range : -20 – +2 dBm</li>
						<li>Ultra low power consumption</li>
					</ul>
 				</div>
 			</div>
			<div class="row">
 				<div class="col-lg-12">
 					<h4>SIVI-SV18002 (TSMC/SMIC 180nm (1P5M))</h4>
 					<ul>
	 				<li>Frequency range 2.400–2.4835 GHz, with FSK/GFSK</li>
					<li>Sensitivity = -87 dBm @ 1Mbps</li>
					<li>Output power range : -20 – +2 dBm</li>
					<li>Ultra low power consumption</li>
				</ul>
 				</div>
 			</div>
			<div class="row">
 				<div class="col-lg-12">
 					<h4>SIVI-SV18002 (TSMC/SMIC 180nm (1P5M))</h4>
 				</div>
 				<ul>
	 				<li>Frequency range 2.400–2.4835 GHz, with FSK/GFSK</li>
					<li>Sensitivity = -87 dBm @ 1Mbps</li>
					<li>Output power range : -20 – +2 dBm</li>
					<li>Ultra low power consumption</li>
				</ul>
 			</div>
			<div class="row">
 				<div class="col-lg-12">
 					<h4>SIVI-SV18002 (TSMC/SMIC 180nm (1P5M))</h4>
 				</div>
 				<ul>
	 				<li>Frequency range 2.400–2.4835 GHz, with FSK/GFSK</li>
					<li>Sensitivity = -87 dBm @ 1Mbps</li>
					<li>Output power range : -20 – +2 dBm</li>
					<li>Ultra low power consumption</li>
				</ul>
 			</div>
		</div>
	</div>
</div>





<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Request Date Sheet</h4>
      </div>
      <div class="modal-body">
		<form>
		  <fieldset>

		    <div class="form-group">
		      <label for="inputEmail">Email</label>
		      <input type="text" class="form-control" id="inputEmail" placeholder="">
		    </div>
		    <button type="submit" class="btn blue-but small pull-right">Request Date Sheet</button>
		  </fieldset>
		</form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->