<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Request Date Sheet</h4>
  </div>
  <div class="modal-body">
	<form>
	  <fieldset>
	    <div class="form-group">
	      <label for="request_name">Name</label>
	      <%= text_field(:request, :name, :required => true, :class => "form-control")%>

	      <label for="request_email">Email</label>
	      <%= text_field(:request, :email, :required => true, :class => "form-control")%>

	      <label for="request_title">Title</label>
	      <%= text_field(:request, :title, :required => true, :class => "form-control")%>

	      <label for="request_company">Company</label>
	      <%= text_field(:request, :company, :required => true, :class => "form-control")%>

	    </div>
	    <button type="submit" class="btn blue-but small pull-right">Request Date Sheet</button>
	  </fieldset>
	</form>
  </div>
</div><!-- /.modal-content -->