  <div class="container">
      <div class="row">
        <h3 class="col-lg-6 col-lg-offset-3">Subscribe to our mail list to keep you updated </h3>
        <%= form_tag(newsletters_subscribe_path(:format => 'json'), :id=>'subscribe-form', :class=>'input-group col-lg-6 col-lg-offset-3') do %>
            <div style="margin-left:0;">
              <%= email_field(:user, :address, :required => true, :placeholder => "write your email", :id =>"subscribe", :class => "form-control")%>
            </div>
            <span class="input-group-btn">
              <%= submit_tag("Go!", :id=> 'subscribe-btn', :class => 'btn btn-primary')%>
            </span>
        <% end %>
      </div>
    </div>

  <div id="copyrights">
    <div class="container">
      <div class="row">
        <p class="col-lg-11 pull-left">All Copyrights reserved to <strong>Silicon Vision</strong> &#169; 2013</p>
        <ul class="col-lg-1 pull-right nav nav-pills" id="social-links">
          <li><a href="#"><img src="/assets/facebook-icon.png"></a></li>
          <li><a href="#"><img src="/assets/twitter-icon.png"></a></li>
          <li><a href="#"><img src="/assets/linkedin-icon.png"></a></li>
        </ul>
      </div> 
    </div>
  </div>