<div class="container">
  <div class="row">
    <ul class="nav nav-pills pull-right">
      <li>
        <%= link_to(t(:ble_ips), {
          :controller => 'ips',
          :action => 'bluetooth-low-energy'
        }) %>
      </li>
      <li>
        <%= link_to(t(:ism_ips), {
          :controller => 'ips',
          :action => 'sub-1ghz'
        }) %>
      </li>
      <li>
        <%= link_to(t(:zgb_ips), {
          :controller => 'ips',
          :action => 'zigbee'
        }) %>
      </li>
      <li>
        <%= link_to(t(:zw_ips), {
          :controller => 'ips',
          :action => 'zwave'
        }) %>
      </li>
    </ul>
  </div>
</div>
