<div class="container">
  <div class="row">
    <ul class="nav nav-pills pull-right">
      <li>
        <%= link_to(t(:rf_bluetooth_0), {
          :controller => 'RadioFrequency',
          :action => 'bluetooth-low-energy'
        }) %>
      </li>
      <li>
        <%= link_to(t(:rf_transceiver_0), {
          :controller => 'RadioFrequency',
          :action => 'sub-1ghz'
        }) %>
      </li>
      <li>
        <%= link_to(t(:zigbee_radio_11), {
          :controller => 'RadioFrequency',
          :action => 'zigbee'
        }) %>
      </li>
      <li>
        <%= link_to(t(:zwave_radio_9), {
          :controller => 'RadioFrequency',
          :action => 'zwave'
        }) %>
      </li>
    </ul>
  </div>
</div>
