<div id="ips-section">
  <div class="container">
    <div class="row">
      <h3>Silicon Vision Offers a Portfolio Of High Performance IPs</h3>
      <div class="col-lg-8 col-lg-offset-2">
        <ul class="nav nav-pills">
          <li><a class="rf" href="#">Radio Frequency IPs</a></li>
          <li><a class="pm" href="#">Power Manegement IPs</a></li>
          <li><a class="dc" href="#">Data Coverters IPs</a></li>
          <li><a class="ams" href="#">AMS IPs</a></li>
        </ul>
      </div>
      <p class="col-lg-10 col-lg-offset-1">Silicon Vision offers a portfolio of high performance IPs focusing on Radio frequency (RF), Power Management (PM), data-converters (DC), and other AMS IPs. Our IPs are silicon proven over several process nodes, also demo boards are available for most of the IPs. Our IPs are used in millions of devices selling in the market. </p>
    </div>
  </div>
</div>