<div class="col-lg-8 col-lg-offset-2">
  <ul class="nav nav-pills">
    <li><a class="rf" href="#">Radio Frequency IPs</a></li>
    <li><a class="pm" href="#">Power Manegement IPs</a></li>
    <li><a class="dc" href="#">Data Coverters IPs</a></li>
    <li><a class="ams" href="#">AMS IPs</a></li>
  </ul>
</div>