<div id="main-header" class="navbar navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="assets/Logo.png" alt="Silicon Vision" /> 
    </a>
      <div class="nav-collapse pull-right collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#about">About us</a></li>
          <li><a href="#ips">IPs</a></li>
          <li><a href="#apps">Applications</a></li>
          <li><a href="#media">Media And Resources</a></li>
          <li><a href="#career">careers</a></li>
          <li><a href="#contact">contact us</a></li>
        </ul>
      </div><!--/.nav-collapse -->
  </div>
</div>
