<div class="row m50b">

  <div class="col-sm-2 text-center">
    <a href="" class="txt-uppercase nav-item block">
      <div class="nav-icon">
        <i class="h1 fa fa-home"></i>
      </div>
      <span class="block"><i class="fa fa-arrow-left"></i> Back Home</span>
    </a>
  </div>

  <div class="col-sm-2 text-center">
    <a href="" class="txt-uppercase nav-item block">
      <div class="nav-icon">
        <img src="/assets/main-product/Bluetooth-icon.png" class="nav-icon__img">
      </div>
      <span class="block">Bluetooth Low Energy</span>
    </a>
  </div>

  <div class="col-sm-2 text-center">
    <a href="" class="txt-uppercase nav-item block">
      <div class="nav-icon">
        <img src="/assets/main-product/specifications-icon.png" class="nav-icon__img">
      </div>
      <span class="block">Specifications</span>
    </a>
  </div>

  <div class="col-sm-2 text-center">
    <a href="" class="txt-uppercase nav-item block">
      <div class="nav-icon">
        <img src="/assets/main-product/Order-demo-icon.png" class="nav-icon__img">
      </div>
      <span class="block">Order Demo Board</span>
    </a>
  </div>

  <div class="col-sm-2 text-center">
    <a href="" class="txt-uppercase nav-item block">
      <div class="nav-icon">
        <img src="/assets/main-product/Technological-update-icon.png" class="nav-icon__img">
      </div>
      <span class="block">Technological Update</span>
    </a>
  </div>

  <div class="col-sm-2 text-center">
    <a href="" class="txt-uppercase nav-item block">
      <div class="nav-icon">
        <img src="/assets/main-product/Partners-icon.png" class="nav-icon__img">
      </div>
      <span class="block">Our Partners</span>
    </a>
  </div>

</div><!-- row -->
