<div class="col-lg-3">
	<ul class="nav nav-pills nav-stacked">
		<li><%= link_to('News And Press', {:controller => 'Home', :action => 'sivi-media'}) %></li>
		<li><%= link_to('White Papers', {:controller => 'Home', :action => 'white-papers'}) %></li>
	</ul>
</div>