<div class="col-lg-3">
	<ul class="nav nav-pills nav-stacked">
		<li><%= link_to('Latest News', {:controller => 'Home', :action => 'sivi-media'}) %></li>
		<li><%= link_to('Silicon Vision In Press', {:controller => 'Home', :action => 'press'}) %></li>
	</ul>
</div>