<div class="col-lg-3">
	<ul class="nav nav-pills nav-stacked">
		<li><%= link_to(t(:news_2), {:controller => 'home', :action => 'sivi-media'}) %></li>
		<li><%= link_to(t(:news_3), {:controller => 'home', :action => 'press'}) %></li>
	</ul>
</div>
