<div id="main-slider" class="carousel slide">

  <div class="carousel-inner">

    <div class="slider-header slidehead item active">
      <h2><%= t :si_vi %></h2>
      <p class="about lead col-lg-8 col-lg-offset-2">
        <strong><%= t :si_vi_short_desc %></strong>
      </p>
      <br />
      <div class="col-lg-8 col-lg-offset-2">
      </div>
    </div>

  </div><!--  / .carousel-inner -->
</div>
