<% content_for :title do %>
  Silicon Vision partners with Mindtree
<% end %>

<% content_for :description do %>
  Silicon Vision partners with Mindtree to offer a complete Bluetooth Low Energy intellectual property solution for wireless personal area networks
<% end %>

<% content_for :keywords do %>
  Silicon Vision ,partnership,Mindtree, Bluetooth Low Energy, intellectual property, wireless personal area networks
<% end %> 	

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
<%= t :news_0 %>
		</h4>
		<div  class="pull-right fszs">
			<%= link_to(t(:home), {:controller => 'home', :action => 'index'}) %>
      <span>/ <%= t :news_3 %></span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="media-page" class="container">
	<div class="row">
		<div class="col-lg-9 panel">

			<div class="panel news-img col-lg-4 hr-img" >
          <img style="width:200px;height:50px;" src="/assets/Logo.png" />
          <img style="width:200px;height:50px;" src="/assets/hggrace.gif" />
			</div>

			<div class="col-lg-8">
				<h3>Silicon Vision Delivers Silicon Proven Bluetooth Smart RF IP on HHGrace’s 0.11μm Technology Platform</h3>

				<p >
        (Shanghai, China—July 8th, 2014) Silicon Vision Technologies Ltd (“Silicon Vision”), a leading provider of high-performance, low power radio frequency intellectual property (IP), and Shanghai Huahong Grace Semiconductor Manufacturing Corporation (“HHGrace”), one of the world-leading 8” pure play foundries, have jointly announced today their partnership to deliver Silicon Vision’s Bluetooth low energy (BLE) radio IP on HHGrace’s 0.11μm mixed-signal/RF technology platform. This silicon proven IP has already been licensed to a customer for human interface devices using BLE for wireless keyboard and mouse. To meet the application wireless MCU integrated with BLE module, this IP currently undergoing verification on HHGrace’s embedded Non-Volatile Memory (eNVM) RF process platform and will be released soon.
				</p>
			</div>

            <p>
              The availability of this radio IP on mature 0.11μm process technology is significant for the low cost BLE market. HHGrace provides low power and competitive technology solutions to help designers reduce power consumption and product cost. The BLE IP solution from Silicon Vision will enable low cost, ultra-low power human interface devices and wearable products. And the market applications of this BLE IP also include healthcare, sports and fitness, security, and home entertainment.
            </p>
            <p>
              Silicon Vision’s SVI-TRX203G IP is a highly integrated low power radio (complete PHY) compliant with the Bluetooth low energy specification, which is part of Bluetooth 4.0/4.1 standards, making it ideal for health, sensor networks, wearable technology, and human interface device applications. With integrated RF and digital modems, the area of the silicon for this IP is competitive compared to other solutions. At 3V battery with ideal DC-DC converter, the peak transmit current at 0dBm output is 4.4mA, and the peak receive current is 5.2mA.  When combined with a Bluetooth Smart baseband controller, it forms a complete Bluetooth Smart solution. The SVI-TRX203G radio connects to the baseband through a fully digital interface containing TX/RX data, real time control interface and registration programming interface.
            </p>

            <p>
              HHGrace now offers Silicon Vision’s BLE IP as part of its portfolio of IP available on its technology solutions, extending the reach of Silicon Vision’s IP to high volume consumer electronics manufacturers focusing on delivering wearable technology BLE applications. Besides BLE IP, HHGrace provides a wide range of technology portfolio for wearable device and personal area network applications, such as 0.18μm/0.13μm eNVM technology platforms for microcontrollers and touch screen controllers, diversified CDMOS/BCD process solutions which are able to improve power management IC and audio amplifier, and MEMS technologies which meet the requirements for various sensor products. 
            </p>

            <h4>About Silicon Vision Technologies Ltd</h4>
                <p>
                  Established since 2007, Silicon Vision Technologies Ltd. is a leading IP provider of high-performance, low-power radio frequency intellectual property (RF IP). Silicon Vision solutions include Bluetooth Low Energy IP, and low power ZigBee IP. Silicon Vision products deliver an industry-leading combination of performance and monolithic integration. Silicon Vision IP targets a broad range of applications in the domain of consumer applications, HIDs, smart metering, industrial mobile wireless devices, and generally low power wireless markets. For more information, visit www.si-vision.com.
                </p>
            <H4>About HHGrace</H4>
            <p>
              Shanghai Huahong Grace Semiconductor Manufacturing Corporation (“HHGrace”), incorporated through the consolidation between Shanghai Hua Hong NEC Electronics Company, Limited (“Hua Hong NEC”) and Grace Semiconductor Manufacturing Corporation (“Grace”), has become one of the world’s leading 8-inch pure-play wafer foundries. With three 8-inch wafer fabrication facilities in Zhangjiang and Jinqiao of Shanghai, HHGrace offers production capacity over 124,000 8-inch wafers per month. HHGrace provides professional and highly value-added foundry services covering technology solutions from 1.0μm to 90nm process nodes, focusing on advanced and differentiated technologies including eNVM (embedded Non-Volatile Memory), power management IC, power discrete, RF, CMOS image sensors as well as standard logic and mixed-signal. HHGrace is also in the process of developing MEMS solutions as one of its up-and-coming technologies. With its headquarters located in Shanghai, China, HHGrace extends its sales and technical support to customers in Taiwan, Japan, North America and Europe. 
            </p>

		</div>
		<%= render "snippets/media-navbar" %>
	</div>
</div>
