<% content_for :title do %>
  Silicon Vision partners with Mindtree
<% end %>

<% content_for :description do %>
  Silicon Vision partners with Mindtree to offer a complete Bluetooth Low Energy intellectual property solution for wireless personal area networks
<% end %>

<% content_for :keywords do %>
  Silicon Vision ,partnership,Mindtree, Bluetooth Low Energy, intellectual property, wireless personal area networks
<% end %> 	

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> News And Press	
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ News And Press</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="media-page" class="container">
	<div class="row">
		<div class="col-lg-9 panel">
			<div class="panel news-img col-lg-4 hr-img">
					<img src="/assets/sivi-partners-mindtree.png" />
			</div>

			<div class="col-lg-8">
				<h3>Silicon Vision partners with Mindtree to offer a complete Bluetooth Low Energy intellectual property solution for wireless personal area networks</h3>

				<p>
					London, UK and Warren, NJ, USA, 30 September 2013 – Silicon Vision Technologies Ltd and Mindtree Ltd., a global information technology solutions company, have partnered to bring to market a state-of-the-art, integrated RF-baseband-stack intellectual property (IP) solution for Bluetooth Low Energy (also known as Bluetooth Smart) technology. 
				</p>
			</div>

			<p>
				The integrated solution has already been proven with a lead customer in Asia, and will enable wireless personal area networks (WPAN) that rely on extremely low power consumption wireless connectivity.
				<br />
                The two companies have successfully integrated Silicon Vision’s RF PHY (radio) intellectual property for Bluetooth low energy (BLE), with Mindtree’s product-proven, fully-qualified baseband (link layer) and low-footprint protocol stack. This integrated solution is compliant with Bluetooth Low Energy 4.0 (single mode) specification with a highly competitive power consumption figure, enabling system-on-a-chip (SoC) designers to deliver power and area efficient chips for BLE using qualified and proven silicon over several nodes, including TSMC and SMIC.
            </p>
            <p>
                Commenting on the new partnership, Tarek Elesseily, CEO of Silicon Vision, said, “We have developed a unique licensable RF intellectual property solution that supports Bluetooth low energy. With Mindtree dominating the independent IP provider space worldwide for BLE baseband, protocol stack and profiles today, we believe that our integrated solution will help realize the vision of millions of consumer electronics products to operate wirelessly for months or even years on tiny cell batteries. 
            </p>
            <p>
                Our aim is to be the market leader within this sector with our ultra-low power, fully integrated and quickly portable solution forming part of many consumer electronics products.” Vikram Srivats, general manager and global head of Mindtree’s engineering R&D service line, added, “We are enthusiastic about the Silicon Vision relationship. Mindtree’s investment in BLE technology spans more than 100 person-years, with several design wins and customer products shipping in volume already. Silicon Vision brings a silicon-proven RF-PHY solution for BLE, a strong team with ultra-low power RF expertise, and design services ability to quickly scale and meet customer requirements across foundries. With a fully integrated, silicon-proven, qualified and mature solution, our sales teams are already bidding together for new designs worldwide”. 
            </p>
            <p>
                Markets for Bluetooth Smart devices include healthcare, sports and fitness, security, and home entertainment. According to industry analyst IMS Research, Bluetooth Smart will be present in 35 percent of all wireless sports and fitness monitoring devices (like pedometers and heart-rate monitors that run on small batteries) shipped this year, and in over 70 percent by 2018. Adding a sports and fitness monitor to a mobile phone can enhance the user experience via downloaded apps. Fitness parameters such as heart rate can be tracked more easily this way. In home entertainment, integration of this technology in remote controls can add functionality not possible with infrared technology – such as non-line-of-sight control, voice control, gesture control, touch control and motion detection. With these additional features, device manufacturers can create a richer control environment for consumers, such as in interactive smart TVs.
            </p>

            <H4>About Silicon Vision Technologies Ltd</H4>
            <p>
            	Silicon Vision Technologies Ltd. is a leading provider of high-performance, low power radio frequency (RF) intellectual property (RFIP). Its solutions leverage Bluetooth low energy technology, low power ZigBee-like RF technology and also advanced power management IP, delivering an industry-leading combination of performance and monolithic integration and targeting a broad range of applications in consumer applications, human interface devices (HIDs), smart metering, industrial and mobile wireless devices and markets. Established since 2007, and with over 350 years’ collective experience serving tier-one customers globally, Silicon Vision also collaborates with world-class technology partners including TSMC, SMIC, Mindtree Ltd., Mentor Graphics and XFab. For more information, visit <a href="www.si-vision.com">www.si-vision.com</a>.
            </p>
            <p>
            	<strong>Press contact:</strong>

            	<br />
				Silicon Vision Technologies Limited
				<br />
				14 Manchester Square, London W1U 3PP, United Kingdom
				<br />
				<strong>Telephone:</strong> +44 207 097 1004
				<br />
				<strong>Email:</strong> <a href="mailto:press@si-vision.com">press@si-vision.com</a>
            </p>

		</div>
		<%= render "snippets/media-navbar" %>
	</div>
</div>