<% content_for :title do %>
  About
<% end %>

<% content_for :description do %>
  Silicon Vision Technologies Ltd. is a leading IP provider of high-performance, low power radio frequency intellectual property (RFIPs). Our solutions leverage Bluetooth low energy technology, low power Zigbee like RF technology and also advanced power management IPs
<% end %>

<% content_for :keywords do %>
  Silicon Vision,IP,provider,high-performance,low power,radio,frequency,intellectual property,RFIPs,solutions,Bluetooth,low energy,technology,low power,Zigbee like,RF,advanced power management
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Story			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ About us</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="about-page" class="container">
	<div class="row">
		<div class="col-lg-8">
			<h3>Welcome to Innovative Silicon IPs</h3>
			<p>
				<strong>Silicon Vision Technologies Ltd.</strong> is a leading IP provider of high-performance, low power radio frequency intellectual property (RFIPs). Our solutions leverage Bluetooth low energy technology, low power Zigbee like RF technology and also advanced power management IPs. Our products deliver what we believe is an industry-leading combination of performance and monolithic integration, and target a broad range of applications in the consumer applications, HIDs, smart metering, industrial, mobile wireless device, and generally wireless markets.
 			<p>
				Silicon Vision has been in business since 2007, with more than 350 years of collective experience and serving Tier-1 customers all over the globe. Silicon Vision team has broad experience in RF circuits and systems, power management, digital and backend designs.
			</p>
			<p>	 
				We also collaborate with world-class technology partners including TSMC, SMIC, Mindtree Ltd., Mentor Graphics, and XFab. Silicon Vision has worldwide representation offices to support customer requests.
			</p>
		</div>
		<div class="col-lg-4 visible-lg center-txt">
			<img src="/assets/office-sivi.png" />
		</div>
	</div>
	<div class="row">
		<h4 class="title col-lg-12">Partners And Clients</h4>
	</div>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<img class="partners" src="/assets/partners.jpg" />
		</div>
	</div>
</div>
