<% content_for :title do %>
  About
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Story			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ About us</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="about-page" class="container">
	<div class="row">
		<div class="col-lg-8">
			<h3>Welcome to Innovative Silicon IPs</h3>
			<p>
				<strong>Silicon Vision</strong> is a leading IP provider of high-performance, low power radio frequency intellectual property (RFIPs). Our solutions leverage Bluetooth low energy technology, low power Zigbee like RF technology and also advanced power management IPs. Our products deliver what we believe is an industry-leading combination of performance and monolithic integration, and target a broad range of applications in the consumer applications, HIDs, smart metering, industrial, mobile wireless device, and generally wireless markets.
 			<p>
				Silicon Vision had been in business since 2007, with more than 350 years of collective experience and serving Tier-1 customers all over the globe. Silicon Vision team has broad experience in RF circuit and systems design, digital design and backend design.
			</p>
			<p>	 
				We also collaborate with world-class technology partners including TSMC, Mindtree, Mentor Graphics, and XFab, Silicon Vision has representation offices worldwide to support customer requests.
			</p>
		</div>
		<div class="col-lg-4">
			<img src="/assets/about-image.png" />
		</div>
		<h4 class="title col-lg-12">Partners And Clients</h4>
		<div class="col-lg-10 col-lg-offset-1">
			<img class="partners" src="/assets/partners.jpg" />
		</div>
	</div>
</div>
