<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Applications		
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ Applications</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="apps-page" class="container">
	<div class="row">
		<div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="assets/1.png">
              <span class="caption">
                <p>COMMUNICATION SYSTEM</p>  
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="assets/2.png">
              <span class="caption">
                <p>Wirless Industrial control</p>  
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="assets/3.png">
              <span class="caption">
                <p>Wirless health monitors</p>  
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="assets/4.png">
              <span class="caption">
                <p>Advanced remote controls</p>  
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="assets/1.png">
              <span class="caption">
                <p>COMMUNICATION SYSTEM</p>  
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="assets/2.png">
              <span class="caption">
                <p>Wirless Industrial control</p>  
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="assets/3.png">
              <span class="caption">
                <p>Wirless health monitors</p>  
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="assets/4.png">
              <span class="caption">
                <p>Advanced remote controls</p>  
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="assets/1.png">
              <span class="caption">
                <p>COMMUNICATION SYSTEM</p>  
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="assets/2.png">
              <span class="caption">
                <p>Wirless Industrial control</p>  
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="assets/3.png">
              <span class="caption">
                <p>Wirless health monitors</p>  
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="assets/4.png">
              <span class="caption">
                <p>Advanced remote controls</p>  
              </span>
            </a>
        </div>
	</div>
</div>
