<%= render "snippets/mainheader" %>
<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Applications		
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ Applications</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="apps-page" class="container">
	<div class="row">
		<div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/1.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/2.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/3.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/4.png"></a>
        </div>

        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/1.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/2.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/3.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/4.png"></a>
        </div>


       <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/1.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/2.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/3.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/4.png"></a>
        </div>

        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/1.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/2.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/3.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/4.png"></a>
        </div>
	</div>
</div>


<div id="footer">
  <%= render "snippets/footer" %>
</div>