<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> careers		
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ Careers</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="careers-page" class="container">
	<h3>Join our team...</h3>
	<p>If you want to join a fast growing Analog/Mixed Signal Team in Egypt, work in an environment which encourage innovation and productivity, and get competitive benefits and compensations, please send your updated resume on careers@si-vision.com</p>

	<h4>RF/Analog designer Positions</h4>
	<ul class="nav nav-pills nav-stacked">
		<li><a target="_blank" href="http://media.wix.com/ugd/1d8d19_0bbd3294c0686a33a16cffac67551ee0.pdf">RF IC Design Engineer</a></li>
		<li><a target="_blank" href="http://media.wix.com/ugd/1d8d19_5d9baf84c24a82d6bb8864f57559b52d.pdf">RF IC Senior Design Engineer</a></li>
		<li><a target="_blank" href="http://media.wix.com/ugd/1d8d19_a67b3e3bb6791bcb10d8475f82200435.pdf">Analog IC Senior Design Engineer</a></li>
	</ul>

	<h4>Layout Engineer Postions</h4>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="http://media.wix.com/ugd/1d8d19_cbfebb20fd97cdb5578326d80e3946b0.pdf">IC Layout Designer</a></li>
	</ul>

	<h4>Digital designer Positions</h4>
	<ul class="nav nav-pills nav-stacked">
		<li><a target="_blank" href="http://media.wix.com/ugd/1d8d19_7d5729b2fe628dc8285fa0aec6139f10.pdf">ASIC SoC FPGA Lead and Senior Design Engineer</a></li>
		<li><a target="_blank" href="http://media.wix.com/ugd/1d8d19_ef939281e4f37526d790e1b7ab0dfcef.pdf">ASIC SoC FPGA Verification Engineer</a></li>
		<li><a target="_blank" href="http://media.wix.com/ugd/1d8d19_c040b5f2d531c3430d8e65f8b5a3e8f2.pdf">ASIC SoC FPGA Verification Engineer(2)</a></li>
		<li><a target="_blank" href="http://media.wix.com/ugd/1d8d19_38e020ffad0e1d76cd4cdd9ce64801dd.pdf">Digital Design Engineer</a></li>
	</ul>
</div>