<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> careers		
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ Careers</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="careers-page" class="container">
	<h3>Join our team...</h3>
	<p>If you want to join a fast growing Analog/Mixed Signal Team in Egypt, work in an environment which encourage innovation and productivity, and get competitive benefits and compensations, please send your updated resume on careers@si-vision.com</p>

	<h4>RF/Analog designer Positions</h4>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#">RF IC Design Engineer</a></li>
		<li><a href="#">RF IC Senior Design Engineer</a></li>
		<li><a href="#">Analog IC Senior Design Engineer</a></li>
	</ul>

	<h4>Layout Engineer Postions</h4>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#">IC Layout Designer</a></li>
	</ul>

	<h4>Digital designer Positions</h4>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#">ASIC SoC FPGA Lead and Senior Design Engineer</a></li>
		<li><a href="#">ASIC SoC FPGA Verification Engineer</a></li>
		<li><a href="#">ASIC SoC FPGA Verification Engineer(2)</a></li>
		<li><a href="#">Digital Design Engineer</a></li>
	</ul>
</div>