<%= render "snippets/mainheader" %>
<div id="contact-section" class="mmt">
	<div class="section-header">
		<div class="container">
			<h4 class="pull-left">
				Silicon Vision's 
				<span class="fwn">
					Contacts and Sales Representetives
				</span>
			</h4>
			<span class="pull-right fszs">
				Home / Contact Us
			</span>
		</div>
	</div>
	<div class= "section-main">
		<div id="section-left" class="col-lg-9 pull-left">
			<div id="map">Map</div>
			<div id="contactus-forum">
				contact us forum
			</div>
		</div>
		<div id="section-right" class="col-lg-3 pull-right">
			<div id="address">Address</div>
			<div id="sales-rep">Sales Representatives</div>
		</div>
		
	</div>
</div>