

<!-- slider -->

<div id="main-slider" class="carousel slide">
    <div class="carousel-inner">
        <div class="slider-header slidehead item active">
                <p class="lead col-lg-8 col-lg-offset-2"><strong>Silicon Vision is a leading IP provider of high-performance, low power radio frequency intellectual property (RFIPs).</strong>
                </p>
                <div class="col-lg-8 col-lg-offset-2">
                  <a class="blue-but" href="/about">Learn More About Silicon Vision</a>
                </div>
        </div>
        <div class="slider-header slide1 item">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-2">
                  <img src="assets/rf-icon.png" />
                </div>
                <div class="col-lg-5 tleft">
                  <p>Radio Frequency (RF) IPs</p>
                  <p class="desc">Silicon Vision RFIPs are focused on low power wireless domain. Several customers all over the globe use our RFIPs. Datasheets and Demo boards are available for all the available IPs 
                  </p>
                  <a class="blue-but" href="/">See more about RFIPs</a>

              </div>

            </div>
          
        </div>
        <div class="slider-header slide2 item">
            <div class="row">
                
                <div class="col-lg-5 col-lg-offset-3 tleft">
                  <p>Power Manegement Units IPs</p>
                  <p class="desc">RFIPs Silicon Vision PMU IP list contains a groups of high end building blocks that are optimum for building state of the art SoCs (high efficient low quiescent current DC-DC buck converters, high precision ultra-low power voltage references, and etc..) 
                  </p>
                  <a class="blue-but" href="/about">See more about PMIPs</a>

              </div>
              <div class="col-lg-3 tleft">
                  <img src="assets/pm-icon.png" />
                </div>

            </div>
        </div>


    </div>
    <!-- Controls -->
         <a class="left carousel-control" href="#main-slider" data-slide="prev">
             <span class="slider-prev"></span>
           </a>
           <a class="right carousel-control" href="#main-slider" data-slide="next">
             <span class="slider-next"></span>
           </a>
</div>
<!-- slider end -->

<div id="about-strip">
  <div class="container">
    <div class="row">
      <p class="col-lg-10 col-lg-offset-1">
        <strong>Silicon Vision </strong>had been in business since 2007, with more than 350 years of collective experience and serving Tier-1 customers all over the globe. The Silicon Vision team has broad experience in RF circuit and systems design, digital design and backend design.
      </p>
    </div>
  </div>
</div>

<div id="ips-section" class="ips-section-background">
  <div class="container">
    <div class="row">
      <h3>Silicon Vision Offers a Portfolio Of High Performance IPs</h3>
      <%= render "snippets/ips-icons" %>
      <p class="col-lg-10 col-lg-offset-1">Silicon Vision offers a portfolio of high performance IPs focusing on Radio frequency (RF), Power Management (PM), data-converters (DC), and other AMS IPs. Our IPs are silicon proven over several process nodes, also demo boards are available for most of the IPs. Our IPs are used in millions of devices selling in the market. </p>
    </div>
  </div>
</div>

<!-- latest news -->
<div id="latest-news" class="container">
  <h4 class="title"><strong>Latest</strong> News</h4>

  <div class="row">
    <div class="col-lg-6">
      <div class="news-item clearfix">
        <img class="pull-left" src="/assets/dac-news.png">
        <div class="pull-left news-head">
          <a class="h4" href="/media" >Silicon Vision participates at Global Forum, DAC 2013</a>
          <p>July 7, 2013 09:37</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="news-item clearfix">
        <img class="pull-left" src="/assets/mwc-news-sm.png">
        <div class="pull-left news-head">
          <a class="h4" href="/media" >Silicon Vision at MWC 2013</a>
          <p>July 6, 2013 09:37</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="news-item clearfix">
        <img class="pull-left" src="/assets/cef-news-sm.png">
        <div class="pull-left news-head">
          <a class="h4" href="/media" >Silicon Vision participates at the CEF 2013</a>
          <p>July 5, 2013 09:37</p>
        </div>
      </div>
    </div>


  </div>

</div>
<!-- latest news End -->

<div id="apps-section">
  <div class="container">
      <div class="row">
        <h4 class="title col-lg-9"><strong>Silicon Vision's</strong> Applications</h4>
        <div class="col-lg-3">
          <a class="pull-right blue-but small"  href="/applications">See alla applications</a>
        </div>

      </div>

      <div id="applications-list" class="row">
        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="/assets/1.png">
              <span class="caption">
                <p>COMMUNICATION SYSTEM</p>
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="/assets/2.png">
              <span class="caption">
                <p>Wirless Industrial control</p>
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="/assets/3.png">
              <span class="caption">
                <p>Wirless health monitors</p>
              </span>
            </a>
        </div>

        <div class="col-lg-3">
            <a class="app-caption" href="#">
              <img class="img-thumbnail" src="/assets/4.png">
              <span class="caption">
                <p>Advanced remote controls</p>
              </span>
            </a>
        </div>

      </div>

    </div>
</div>
<!-- apps End -->
