

<!-- slider -->
<div id="slider-header">
    <div class="container">
      <div class="row">
        <p class="lead col-lg-8 col-lg-offset-2"><strong>Silicon Vision is a leading IP provider of high-performance, low power radio frequency intellectual property (RFIPs).</strong>
        </p>
        <div class="col-lg-8 col-lg-offset-2">
          <a class="blue-but" href="/about">Learn More About Silicon Vision</a>
        </div>
                
    </div>
    </div>
</div>
<!-- slider end -->

<div id="about-strip">
  <div class="container">
    <div class="row">
      <p class="col-lg-10 col-lg-offset-1">
        <strong>Silicon Vision </strong>had been in business since 2007, with more than 350 years of collective experience and serving Tier-1 customers all over the globe. The Silicon Vision team has broad experience in RF circuit and systems design, digital design and backend design.
      </p>
    </div>
  </div>
</div>

<%= render "snippets/ips-icons" %>

<!-- latest news -->
<div id="latest-news" class="container">
  <h4 class="title"><strong>Latest</strong> News</h4>

  <div class="row">
    <div class="col-lg-6">
      <div class="news-item clearfix">
        <img class="pull-left" src="assets/dac-news.png">
        <div class="pull-left news-head">
          <a class="h4" href="" >Silicon Vision participates at Global Forum, DAC 2013</a>
          <p>Monday 22 July 2013</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="news-item clearfix">
        <img class="pull-left" src="assets/dac-news.png">
        <div class="pull-left news-head">
          <a class="h4" href="" >Silicon Vision participates at Global Forum, DAC 2013</a>
          <p>Monday 22 July 2013</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="news-item clearfix">
        <img class="pull-left" src="assets/dac-news.png">
        <div class="pull-left news-head">
          <a class="h4" href="" >Silicon Vision participates at Global Forum, DAC 2013</a>
          <p>Monday 22 July 2013</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="news-item clearfix">
        <img class="pull-left" src="assets/dac-news.png">
        <div class="pull-left news-head">
          <a class="h4" href="" >Silicon Vision participates at Global Forum, DAC 2013</a>
          <p>Monday 22 July 2013</p>
        </div>
      </div>
    </div>

    
  </div>  

</div>
<!-- latest news End -->

<div id="apps-section">
  <div class="container">
      <div class="row">
        <h4 class="title col-lg-9"><strong>Silicon Vision's</strong> Applications</h4>
        <div class="col-lg-3">
          <a class="pull-right blue-but small"  href="/application">See alla applications</a>
        </div>
        
      </div>
      
      <div id="applications-list" class="row">
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/1.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/2.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/3.png"></a>
        </div>
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="assets/4.png"></a>
        </div>
      </div>

    </div>
</div>
<!-- apps End -->

<div id="footer">
  <%= render "snippets/footer" %>
</div>



