<% content_for :title do %>
  Intellectual Properties
<% end %>

<% content_for :description do %>
  Silicon Vision offers a portfolio of high performance IP that focus on Radio frequency (RF), Power Management (PM), data-converters (DC) and other AMS IP. Our IP are silicon proven over several process nodes, demo boards are also available for most of the IP. Our IP are used in millions of devices in the market
<% end %>

<% content_for :keywords do %>
  Silicon Vision,offers,high performance,IP,Radio frequency,RF,Power Management,PM,data-converters,DC,AMS,silicon proven,data converters
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ IP</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div id="ips-section">
  <div class="container">
    <div class="row">
      <%= render "snippets/ips-icons" %>
      <p class="col-lg-10 col-lg-offset-1">Silicon Vision offers a portfolio of high performance IP that focus on Radio frequency (RF), Power Management (PM), data-converters (DC) and other AMS IP. Our IP are silicon proven over several process nodes,  demo boards are also available for most of the IP. Our IP are used in millions of devices in the market.</p>
    </div>
  </div>
</div>