<% content_for :title do %>
  Intellectual Properties
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ IPs</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div id="ips-section">
  <div class="container">
    <div class="row">
      <%= render "snippets/ips-icons" %>
      <p class="col-lg-10 col-lg-offset-1">Silicon Vision offers a portfolio of high performance IPs that focus on Radio frequency (RF), Power Management (PM), data-converters (DC) and other AMS IPs. Our IPs are silicon proven over several process nodes,  demo boards are also available for most of the IPs. Our IPs are used in millions of devices in the market.</p>
    </div>
  </div>
</div>