<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ IPs</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<div id="ips-navbar" class="navbar">
  <ul class="nav navbar-nav pull-right">
    <li><a href="#">One</a></li>
    <li><a href="#">two</a></li>
    <li><a href="#">three</a></li>
    <li>
    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    		Dropdown <b class="caret"></b>
    	</a>
    	<ul class="dropdown-menu">
    		<li><a href="#">EIH</a></li>
    		<li><a href="#">BEE</a></li>
    		<li><a href="#">CEE</a></li>
    		<li><a href="#">EEEH</a></li>
    		<li><a href="#">EF</a></li>
    	</ul>
    </li>
  </ul>
</div>

<%= render "snippets/ips-icons" %>

<div id="footer">
  <%= render "snippets/footer" %>
</div>