<%= render "snippets/mainheader" %>
<div id="media-section" class="mmt">
	<div class="section-header">
		<div class="container">
			<h4 class="pull-left">
				Silicon Vision's 
				<span class="fwn">
					Media and Resources
				</span>
			</h4>
			<span class="pull-right fszs">
				Home / Media And Resources
			</span>
		</div>
	</div>
	<div class= "section-main">
		<h3>
			Silicon Vision Latest News
		</h3>
		<div class='row'>
			<div id="section-left" class="col-lg-9 pull-left">
				<div class="news">
					<div class="date center-txt">
						<strong> June 2013</strong>
					</div>
					<div class="containt">
						<div class="pull-left center-txt">
							<img src="assets/mobile_world_congress_2012.jpg">
						</div>
						<div class="pull-right">
							<a href	="" class="fwb">
								Silicon Vision at MWC 2013
							</a>
							<span class="fszs">
								June 6, 2013 09:37
							</span>
							<p>
								Barcelona, Spain - Mobile World Congress - 25 Februray 2013 - Silicon Vision invites MWC2012 vistiors to its stand at Hall7 - Stand 7164, in Barcelona, February 28, 2013. Silicon Vision is presenting its latest solutions for Bluetooth low energy full solution and its 802.15.4gm smart grid solution.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div id="section-right" class="col-lg-3 pull-right">
				<ul>
					<li>News And Press</li>
					<li class="mmt">White Papers</li>
					<li class="mmt">Media And Resources</li>
				</ul>
			</div>
		</div>
	</div>
</div>