<% content_for :title do %>
  Media
<% end %>

<% content_for :description do %>
  Silicon Vision participates at Global Forum, DAC 2013, CEF 2013, MWC 2013, CEF 2012, and MWC 2012
<% end %>

<% content_for :keywords do %>
  Global Forum,DAC 2013,CEF 2013,MWC 2013,CEF 2012,MWC 2012
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> News And Press			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ Latest News</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="media-page" class="container">
	<div class="row">
		<div class="col-lg-9">
			<h3>Silicon Vision Latest News</h3>


			<div class="panel clearfix">
				<div class="panel news-img col-lg-4 hr-img">
					<img src="/assets/sivi-partners-mindtree.png" />
				</div>
		        
		        <div class="col-lg-8 pl20">
		          <h4>Silicon Vision partners with Mindtree to offer a complete Bluetooth Low Energy intellectual property solution for wireless personal area networks</h4>
		          <p class="date">September 30, 2013</p>
		          <p>London, UK and Warren, NJ, USA, 30 September 2013 – Silicon Vision Technologies Ltd and Mindtree Ltd., a global information technology solutions company, have partnered to bring to market a state-of-the-art, integrated RF-baseband-stack intellectual property (IP) solution for BLE .... <a href="Home/sivi-media/sivi-partners-with-mindtree">Read More</a></p>
		   		</div>

		   		<span class="date-label">
		   			Sep. <br /> 2013
		   		</span>
      		</div>



			<div class="panel clearfix" id="participated-dac2013">
				<div class="panel news-img col-lg-4">
					<img src="/assets/dac-news-lg.png" />
				</div>
		        
		        <div class="col-lg-8 pl20">
		          <h4>Silicon Vision participates at Global Forum, DAC 2013</h4>
		          <p class="date">June 2, 2013</p>
		          <p>Texas, Austin- Design Automation Conference (DAC) – 2 June 2013 - Silicon Vision is represented in the Egyptian booth inside the Global Forum pavilion at the DAC50. Silicon Vision presented its silicon IP portfolio which includes complete Bluetooth low energy (BLE) offerings with support for baseband, radio and protocol stacks, in addition to a smart  grid 802.15.4g offering with support for radio and baseband.</p>
		   		</div>

		   		<span class="date-label">
		   			Jun. <br /> 2013
		   		</span>
      		</div>

      		<div class="panel clearfix" id="participated-cef2013">
				<div class="panel news-img col-lg-4">
					<img src="/assets/cef-news-lg.png" />
				</div>
		        
		        <div class="col-lg-8 pl20">
		          <h4>Silicon Vision participates at the CEF 2013</h4>
		          <p class="date">April 10, 2013</p>
		          <p>China, Shenzhen- China Electronic Fair (CEF) – 10 April 2013 – Shenzhen convention and exhibition center, Silicon Vision invites CEF 2013 visitors to its stand Hall 1 (1A186), in Shenzhen 10-12 April 2013. Silicon Vision is promoting at the CEF 13 its low power wireless solutions and power management IP.</p>
		   		</div>
		   		<span class="date-label">
		   			Apr. <br /> 2013
		   		</span>
      		</div>

      		<div class="panel clearfix" id="sivi-mwc2013">
				<div class="panel news-img col-lg-4">
					<img src="/assets/mwc-news.png" />
				</div>
		        
		        <div class="col-lg-8 pl20">
		          <h4>Silicon Vision at MWC 2013</h4>
		          <p class="date">February 25, 2013</p>
		          <p>Barcelona, Spain – Mobile World Congress – 25 February 2013- Silicon Vision invites MWC2012 visitors to its stand at Hall7- Stand 7164, in Barcelona, February 25 – February 28, 2013. Silicon Vision is presenting its latest solutions for Bluetooth Low Energy full solution and its 802.15.4g smart grid solution.</p>
		   		</div>

		    	<span class="date-label">
		   			Feb. <br /> 2013
		   		</span>
      		</div>

      		<div class="panel clearfix" id="participated-cef2013">
				<div class="panel news-img col-lg-4">
					<img src="/assets/cef-news-lg.png" />
				</div>
		        
		        <div class="col-lg-8 pl20">
		          <h4>Silicon Vision participates at the CEF 2012</h4>
		          <p class="date">April 10, 2012</p>
		          <p>China, Shenzhen- 79th China Electronic Fair (CEF) – 10 April 2012 – Shenzhen convention and exhibition center, Silicon Vision invites CEF 2012 visitors to its stand Hall 1 (1A164), in Shenzhen 10-12 April 2012. Silicon Vision is promoting at the 79th China Electronics Fair its low power wireless solutions and power management IP.</p>
		   		</div>
		   		<span class="date-label">
		   			Apr. <br /> 2012
		   		</span>
      		</div>

      		<div class="panel clearfix" id="participated-cef2013">
				<div class="panel news-img col-lg-4">
					<img src="/assets/mwc-news012-lg.png" />
				</div>
		        
		        <div class="col-lg-8 pl20">
		          <h4>Silicon Vision at MWC 2012</h4>
		          <p class="date">February 27, 2012</p>
		          <p>Barcelona, Spain – Mobile World Congress – 27 February 2012- Silicon Vision invites MWC2012 visitors to its stand at Hall1- Stand D-33, in Barcelona, February 27 - March 1, 2012. Silicon Vision is presenting its latest solutions for low power wireless technologies, targeting smart grid applications and Human interface devices.    </p>
		   		</div>
		   		
		        <span class="date-label">
		   			Feb. <br /> 2012
		   		</span>
      		</div>

		</div>
		
		<%= render "snippets/media-navbar" %> 
	</div>
</div>