<% content_for :title do %>
  White Papers
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Media And Resources	
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ Media & Resources</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="media-page" class="container">
	<div class="row">
		<div class="col-lg-9">
			<h3>Silicon Vision White Papers</h3>
		</div>
		<%= render "snippets/media-navbar" %>
	</div>
</div>