<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ IPs</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/pm-icon-s.png" />
				Bluetooth Low Energy (BLE)
			</h3>
		</div>
		<div class="col-lg-5 center-txt">
			<button type="submit" class="btn blue-but small m30t m50b pull-right">
				Download Product Brief
			</button>
			<button type="submit" class="btn blue-but small m30t m50b pull-right">
				REQUEST DATA SHEET
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			
			<p>
				MISSING DATA HERE
 			</p>
 			<h4>SVI-TRX201 Bluetooth Low Energy Transceiver</h4>
 			<p>
				SVI-TRX201 device is a fully integrated single-chip radio transceiver targeting Bluetooth4.0 ultra low power Bluetooth. SVI-TRX201 performance is tailored for extremely low power operation to be used in sensor monitoring networks and remote control for wireless networks. Transmitter output power ranges from -20 to +2 dBm, while receiver sensitivity is -87dBm at 1Mbps. The frequency range allows operation in 2.4GHz Industrial, Scientific, Medical (ISM) band.
 			</p>
 			<h4>SVI-TRX201 Bluetooth Low Energy Transceiver</h4>
 			<ul>
	 			<li>Frequency range 2.400–2.4835 GHz, with FSK/GFSK</li>
				<li>Sensitivity = -87 dBm @ 1Mbps</li>
				<li>Output power range: -20 – +2 dBm</li>
				<li>Ultra low power consumption</li>
			</ul>
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/ble-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Low Power Bluetooth</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/ble.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
</div>