<% content_for :title do %>
  Sub 1GHz Transceiver 
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ IPs</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/rf-icon-s.png" />
				Sub 1GHz Transceiver
			</h3>
		</div>
		<div class="col-lg-5 center-txt">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			
			<p>
				Silicon Vision, Inc. ESI-TRX401 device is a fully integrated single-chip radio transceiver operating on 433MHz/868MHz/915MHz ISM frequency bands, compatible with IEEE 802.15.4g standard. Transmitter output power ranges from -10 to +15 dBm, while receiver sensitivity is -110 dBm at 19.2kbps rate.
 			</p>
 			<h4>ESI-TRX401 Ultra Low Power ISM radio transceiver</h4>
 			<p>
				Silicon Vision, Inc. ESI-TRX401 device is a fully integrated single-chip radio transceiver operating on 433MHz/868MHz/915MHz ISM frequency bands, compatible with IEEE 802.15.4g standard. Transmitter output power ranges from -10 to +15 dBm, while receiver sensitivity is -110 dBm at 19.2kbps rate​.
 			</p>
 			<h4>Features:</h4>
 			<ul>
				<li>Frequency range 400-960MHz, with FSK/GFSK</li>
				<li>Sensitivity = -110 dBm @ 19.2kbps</li>
				<li>Output power range : -10 – +15 dBm</li>
				<li>Ultra low power consumption</li>
			</ul>
			<div class="btn-toolbar">
				<div class="btn-group">
					<a class="btn btn-default btn-xs" data-toggle="modal" href="#data-req">
						Request Data Sheet
					</a>
					<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
			        		<%= link_to 'Download Product Brief', '/files/ESI-TRX401.pdf', :target => '_blank' %>
			        	</li>
					</ul>
				</div>
			</div>
			<br />
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/rf-transceiver-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Low Power Bluetooth</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/rf-transceiver.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
</div>

<div class="modal fade" id="data-req">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Request Date Sheet</h4>
      </div>
      <div class="modal-body">
		<form>
		  <fieldset>

		    <div class="form-group">
		      <label for="inputEmail">Email</label>
		      <input type="text" class="form-control" id="inputEmail" placeholder="">
		    </div>
		    <button type="submit" class="btn blue-but small pull-right">Request Date Sheet</button>
		  </fieldset>
		</form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->