<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ IPs</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-7">
			<h3 class="m50b">
				<img src="/assets/pm-icon-s.png" />
				Band Gap Refrences (BG)
			</h3>
		</div>
		<div class="col-lg-5">
			<button type="submit" class="btn blue-but small m30t m50b pull-right">
				Download Product Brief
			</button>
			<button type="submit" class="btn blue-but small m30t m50b pull-right">
				REQUEST DATA SHEET
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			
			<p>
				SiVi-BG series is a list of IP that covers different flavors of high performance bandgap reference cells. This IP list covers important features such as ultra low current, low noise, high supply rejection, wide supply range and small silicon area. The whole IP list is silicon verified on different technology nodes from 180nm down to 40nm.
 			</p>
 			<h4>Band Gap Reference IPs</h4>
 			<p>
				TABLE HERE
 			</p>
		</div>
		<div class="col-lg-4 center-txt">
			<a data-toggle="modal" href="#myModal">
				<img src="/assets/bgs-s.jpg" />
			</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				  <div class="modal-content">
				    <div class="modal-header">
				      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				      <h4 class="modal-title">Low Power Bluetooth</h4>
				    </div>
				    <div class="modal-body">
				      <img src="/assets/bgs.jpg" />
				    </div>
				  </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
</div>