<% content_for :title do %>
  Radio Frequency (RF) IPs
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
            <span>/ 
                <%= link_to('IPs', {
                    :controller => 'home',
                    :action => 'ips'
                }) %>
            </span>
            <span>/ Power Management</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 standalone-ip">
			<div class="col-lg-3 pull-left">
				<img src="/assets/pm-icon.png" />
			</div>
			<div class="col-lg-8 pull-right tleft np">
				<p>
					Silicon Vision provide full customization for complete PMUs with different flavors.
				</p>
				<h4>Power Management IPs Includs :</h4>
				<ul class="nav nav-pills nav-stacked">
					<li>
                        
                    	<a href="/power_management/band-gap-reference">
                    		<img src="/assets/band-gap-ref.png">
							Band Gap References
                    	</a>
                    </li>
                    <li>
                    	<a href="/power_management/dc-dc-buck-converters">
                    		<img src="/assets/dc-buck-sm.png">
							DC-DC Buck Converters 
                    	</a>
                    </li>
                    <li>
                    	<a href="/power_management/temperature-sensors">
                    		<img src="/assets/temp-sensor.png">
							Temperature Sensors
                    	</a>
                    </li>
                    <li>
                       	<a href="/power_management/por-supply-monitors">
                    		<img src="/assets/por-sm.png">
							Power On Reset (POR)
                    	</a>
                    </li>
                    <li>
                    	<a href="/power_management/loe-drop-out-regulators">
                    		<img src="/assets/ldo-sm.png">
							Low Drop-Out Regulators (LDO)
                    	</a>
                    </li>
				</ul>
			</div>
		</div>
	</div>
</div>