<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Intellectual Properties			
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ IPs</span>
		</div>
	</div>
</div>
<!-- head strip end -->

<%= render "snippets/ips-navbar" %>

<div class="container ips-pages">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 standalone-ip">
			<div class="col-lg-3 pull-left"><img src="/assets/pm-icon.png" /></div>
			<p class="col-lg-8 pull-right tleft np">
				Radio Frequency (RF) IPsSilicon Vision PMU IP list contains a groups of high end building blocks that are optimum for building state of the art SoCs. The main building blocks include high efficient low quiescent current DC-DC buck converters, high precision ultra-low power voltage references, high accurate temperature sensors and battery management solutions. In addition to the availability of the main building blocks, Si-Vision provide full customization for complete PMUs with different flavors


			</p>
		</div>
		
	</div>
</div>