@main_color : #0c81cf;
@hover-links: #009fff;
@main_font : 'Open Sans', sans-serif;
@sec_font:  'Kreon', serif;
@text_color: #434343;
@section_htxt_color:#fff;
@section_header_color:#0c81cf;
@section_menu_bgcolor:#1d9eec;

h4.title{
	background: url('heads-strip.png') no-repeat left;
	padding-left: 20px;
}
.app-caption{
	position: relative;
    overflow: hidden;
    max-height: none;

	.caption{
		position: absolute;
		left: 5px;
		right: 13px;
		bottom: 5px;
		padding-top: 10px;
		background: #000;
		background: rgba(0, 0, 0, 0.6);
		color: white;
		text-align: center;
		text-shadow: 0 -1px 0 #000;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
		font-size: 14px;
		line-height: 18px;
		-webkit-transition:background 0.2s ease-in;  
	  	-moz-transition:background 0.2s ease-in;  
	   	-o-transition:background 0.2s ease-in;  
	   	transition:background 0.2s ease-in;
	}

	   	&:hover{
	   		span.caption{
	   			background: @main_color;
	   		}
	   	} 
}
/*.app-img:hover .caption {  
    -moz-transform: translateY(-100%);  
    -o-transform: translateY(-100%);  
    -webkit-transform: translateY(-100%);  
    transform: translateY(-100%);  
}  
a.blue-but{
	background: #1d9eec;
	border-radius: 3px;
	color: #fff !important;
	font-family: @main_font;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px 30px 10px;
	font-weight: 300;
	font-size: 12px;
	border-bottom: 5px solid #1b91d9;

	&:hover{
		color: #fff !important;
		background: #20abff;
	}
}

a.blue-but.small{
	background: #1d9eec;
	border-radius: 3px;
	color: #fff !important;
	font-family: @main_font;
	font-size: 14px;
	text-transform: uppercase;
	padding: 5px 30px;
	font-weight: 300;
	font-size: 12px;
	border-bottom: 5px solid #1b91d9;

	&:hover{
		color: #fff !important;
		background: #20abff;
	}
}

body{
	padding-top: 60px;
	font-size: 14px;
	line-height: 1.7em;
	padding-bottom: -50px;
	color: #434343 !important;
	a{
		color: @main_color !important;
		&:hover{
			color: @hover-links !important;
		}
	}
	h1,h2,h3,h4,h5,h6{
		font-family: @sec_font;
		color: @main_color;
	}
	p{
		line-height: 2em !important;
	}
}

#main-header{
	height: 85px;
    background: white;
    -webkit-box-shadow:  0px 4px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 4px 0px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    ul{
    	margin-top: 1.3em;
    	a{
    		&:hover{
    			border-bottom: solid 3px @hover-links;
    		}
    	}
    }
}

#slider-header{
	margin-top: 25px;
	padding-top: 120px;
	text-align: center;
	height: 350px;
	background: url('sub-head-bg.png') no-repeat top center fixed;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: #fff;
	font-family: 'Kreon', serif;
	font-size: 24px;

	.btn{
		font-family: @main_font;
		color: #fff !important;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 300;
	}
	#slider-controls{
		line-height: 7;
	}
	span.slider-prev:before {
	    content: url("left-arrow.png");
	}

	span.slider-next:before {
	    content: url("right-arrow.png");
}


}
#about-strip{
	background: @main_color;
	text-align: center;
	color: #fff;
	padding:1em 0;
}

#latest-news , #apps-section{
	margin-top: 30px;
}

#ips-section{
	text-align: center;
	padding-top: 1.5em;
	ul{
		margin-top: 2.5em;

		li{
			height: 230px;
			width: 190px;
			margin: 0px !important;
			a{
				padding-top: 190px;
				&:hover{
					background: none;
					border:none;
				}
			}
			a.rf{
				background: url('rf-icon.png') no-repeat top center;
			}
			a.dc{
				background: url('dc-icon.png') no-repeat top center;
			}
			a.pm{
				background: url('pm-icon.png') no-repeat top center;
			}
			a.ams{
				background: url('AMS-icon.png') no-repeat top center;
			}
		}
	}
}

.ips-section-background{
	background: url('ips-sec-bg.png') repeat-x top;
}

#latest-news{
	.news-item{
		.news-head{
			padding-left: 15px;
			padding-top: 5px;
			font-family: @main_font;
			font-size: 12px;
			color: #c3c3c3;

			a{
				font-size: 16px;
				font-family: @main_font;
				font-weight: 300;
			}

		}
	}
}

#apps-section{
	background: #efefef;
	padding: 20px 0 25px;
	#applications-list{
		margin-top: 20px;
		a{
			display: block;
			text-transform: uppercase;
		}
	}
}

#footer{
	background: #f6f6f6;
	padding-top:40px; 

	input , button{
		height: 50px;
	}
	h3{
		text-align: center;
		padding-bottom: 10px;
	}
	#copyrights{
		margin-top: 70px;
		background: #0966a3;
		color: #fff;
		font-size: 12px;
		height: 45px;
		padding: 12px 0;
		ul.nav{
			li{
				a{
					padding: 0 !important;
					margin-left: 7px;
					
					&:hover{
						background: none;
					}		
				}
			}
			
		}
	}
}

.head-strip{
	color:#ffffff;
	background: @section_header_color;
	height: 100px;
	padding-top: 40px;
	h4 , a , a:hover{
		color:@section_htxt_color !important;
	}
	div{
		padding-top: 5px;

	}
	a:hover{
		text-decoration: underline;
	}
}

#about-page , #apps-page , #media-page , #careers-page{
	margin-top: 30px;
	padding-bottom: 30px;
}

#about-page{
	img{
		text-align: center;
		padding-top: 30px;
		
	}
	img.partners{
		padding: 0 0 20px !important;
	}
	h4.title{
		margin-top: 20px;
	}
}
#apps-page{
	a img{
		margin-top: 20px;
	}
	a{
		display: block;
	}
}

#media-page{
	.news-img{
			text-align: center;
			padding:80px 30px;
			margin-bottom: 0 !important;
		}
	.date{
		font-size: 12px;
	}

	ul.nav{
		margin-top: 50px;

		a{
			color: #fff !important;
			background: @main_color; 
			margin-top: 10px;

			&:hover{
				color:#fff;
				background: #1d9eec;
			}

		}
	}
}

#careers-page{
	h4{
		color: #434343;
		margin-top: 20px;
	}
	ul.nav{
		a{
			color: #434343 !important;
			background: #f7f7f7; 
			margin-top: 10px;
			font-size: 16px;
			font-weight: 300;

			&:hover{
				color:@main_color !important;
			}

		}
	}
}


#contact-section{
	.section-header{
		margin-top: 25px;
	}

	.section-main{
		#map{
			width: 57.7%;
		}
		#address{
			background:#0966a3;
			color: #ffffff;
			width: 42.3%;
			div{
				margin: 66px 0px 66px 35px;
			}
		}
		#contactus-forms{
			margin-left: 140px;
			label{
				display: block;
				// color: #858585;
				.fwn;
				font-size: 18px;

			}
			input, textarea{
				background: #f6f6f6;
				width: 620px;
				border: 0;
			}
			textarea{
				border-radius: 4px;
			}
			button{
				background: #1d9eec;
				-webkit-box-shadow: 0 4px 3px -3px #1d9eec;
				   -moz-box-shadow: 0 4px 3px -3px #1d9eec;
				        box-shadow: 0 4px 3px -3px #1d9eec;

				border: none;
				border-radius: 4px;
				width: 105px;
				padding: 7px 0px 7px 0px;
				margin-right: 102px;
			}

		}
		#sales-rep{
			font-size: 18px;
			#head{
				font-size: 20px;
				color: @main_color;
			}
			ul{
				list-style: none;
				li{
					margin-bottom: 25px;
					p{
						margin-bottom: 0px;
					}
					.rep-header{
						margin-bottom: 15px;
						img{
							margin-right: 15px;
						}
					}
				}
			}

		}
	}
}
.mmt{
	margin-top: 10px;
}
.m50t{
	margin-top: 50px;
}
.mmt{
	margin-top: 10px;
}
.fszs{
	font-size: 12px
}
.fszt{
	font-size: 10px;
}
.fszl{
	font-size: 18px;
}
.fsz16{
	font-size: 16px;
}
.center-txt{
	text-align: center;
}
.fwb{
	font-weight: 500;
}
.fwn{
	font-weight: 300;
}

/* IPs Page */
#ips-navbar{
	background-color: transparent;
}
