<% content_for :title do %>
  Communication Systems
<% end %>

<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Story			
		</h4>
		<div  class="pull-right fszs">
			<%= link_to('HOME', {:controller => 'home', :action => 'index'}) %>
			<span>/ About us</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="app-page-template" class="container">
	<div class="row">
		<div class="col-lg-8">
			<h2></h2>
		</div>
	</div>
</div>