<div class="head-strip">
	<div class="container">
		<h4 class="pull-left">
			<strong>Silicon Vision's</strong> Story			
		</h4>
		<div  class="pull-right fszs">
			<a href="#">Home</a> <span>/ About us</span>
		</div>
	</div>
</div>
<!-- head strip end -->
<div id="app-page-template" class="container">
	<div class="row">
		<div class="col-lg-8">
			<h2></h2>
		</div>
	</div>
</div>