<h4 class="title">Bluetooth Low Energy</h4>

<p>
	Bluetooth low energy or Bluetooth LE, marketed as Bluetooth Smart, is a wireless personal area network technology designed and marketed by the Bluetooth Special Interest Group aimed at novel applications in the healthcare, fitness, security, and home entertainment industries. Compared to Classic Bluetooth, Bluetooth Smart is intended to provide considerably reduced power consumption and cost while maintaining a similar communication range.
</p>
<p>
	Bluetooth Smart was originally introduced under the name Wibree by Nokia in 2006. It was merged into the main Bluetooth standard in 2010 with the adoption of the Bluetooth Core Specification Version 4.0.
</p>

<p>
	Mobile operating systems including iOS, Android, Windows Phone and BlackBerry, as well as OS X, Linux, and Windows 8, natively support Bluetooth Smart. The Bluetooth SIG predicts more than 90 percent of Bluetooth-enabled smartphones will support Bluetooth Smart by 2018. 
</p>
<p>
	In 2001, researchers at Nokia determined various scenarios contemporary wireless technologies did not address. The company began developing a wireless technology adapted from the Bluetooth standard which would provide lower power usage and cost while minimizing its differences from Bluetooth technology. The results were published in 2004 using the name Bluetooth Low End Extension. 
</p>

<p>
	After further development with partners, e.g., within EU FP6 project MIMOSA, the technology was released to the public in October 2006 with the brand name Wibree. After negotiations with Bluetooth SIG members, an agreement was reached in June 2007 to include Wibree in future Bluetooth specification as a Bluetooth ultra-low-power technology, now known as Bluetooth Smart technology. 
</p>

<p>
	Integration of Bluetooth Smart with version 4.0 of the Core Specification was completed in early 2010. The first smartphone to implement the 4.0 specification was the iPhone 4S, released in October 2011. A number of other manufacturers released Bluetooth Smart Ready devices in 2012.
</p>

<p>
	Bluetooth Smart technology operates in the same spectrum range (the 2.400 GHz-2.4835 GHz ISM band) as Classic Bluetooth technology, but uses a different set of channels. Instead of the Classic Bluetooth 79 1-MHz channels, Bluetooth Smart has 40 2-MHz channels. Within a channel, data is transmitted using Gaussian frequency shift modulation, similar to Classic Bluetooth's Basic Rate scheme. The bit rate is 1Mbit/s, and the maximum transmit power is 10 mW. Further details are given in Volume 6 Part A (Physical Layer Specification) of the Bluetooth Core Specification V4.0.
</p>

<p>
	Bluetooth Smart uses frequency hopping to counteract narrowband interference problems. Classic Bluetooth also uses frequency hopping but the details are different; as a result, while both FCC and ETSI classify Bluetooth technology as an FHSS scheme, Bluetooth Smart is classified as a system using digital modulation techniques or a direct-sequence spread spectrum.
</p>
<table class=" product-ble-table table">
	<tr>
		<th>
			Technical Specification	
		</th>
		<th>
			Classic Bluetooth technology
		</th>
		<th>
			Bluetooth Smart technology
		</th>
	</tr>

	<tr>
		<td>Distance/Range (theoretical max.)</td>
		<td>100 m (330 ft)</td>
		<td>>100 m (>330 ft)</td>
	</tr>

	<tr>
		<td>Over the air data rate</td>
		<td>1–3 Mbit/s</td>
		<td>1 Mbit/s</td>
	</tr>

	<tr>
		<td>Application throughput</td>
		<td>0.7–2.1 Mbit/s</td>
		<td>0.27 Mbit/s</td>
	</tr>

	<tr>
		<td>Active slaves</td>
		<td>7</td>
		<td>Not defined; implementation dependent</td>
	</tr>

	<tr>
		<td>Distance/Range (theoretical max.)</td>
		<td>100 m (330 ft)</td>
		<td>>100 m (>330 ft)</td>
	</tr>

	<tr>
		<td>Security</td>
		<td>56/128-bit and application layer user defined</td>
		<td>128-bit AES with Counter Mode CBC-MAC and application layer user defined</td>
	</tr>

	<tr>
		<td>Robustness</td>
		<td>Adaptive fast frequency hopping, FEC, fast ACK</td>
		<td>Adaptive frequency hopping, Lazy Acknowledgement, 24-bit CRC, 32-bit Message Integrity Check</td>
	</tr>

	<tr>
		<td>Latency (from a non-connected state)</td>
		<td>Typically 100 ms</td>
		<td>6 ms</td>
	</tr>

	<tr>
		<td>Total time to send data (det.battery life)</td>
		<td>100 ms</td>
		<td>3 ms, (cited facts not found)</td>
	</tr>

	<tr>
		<td>Voice capable</td>
		<td>Yes</td>
		<td>No</td>
	</tr>

	<tr>
		<td>Network topology</td>
		<td>Scatternet</td>
		<td>Scatternet</td>
	</tr>

	<tr>
		<td>Power consumption</td>
		<td>1 as the reference</td>
		<td>0.01 to 0.5 (depending on use case)</td>
	</tr>


	<tr>
		<td>Peak current consumption</td>
		<td>1 as the reference</td>
		<td>0.01 to 0.5 (depending on use case)</td>
	</tr>

	<tr>
		<td>Power consumption</td>
		<td> < 30 mA </td>
		<td> < 15 mA </td>
	</tr>

	<tr>
		<td>Service discovery</td>
		<td>Yes</td>
		<td>Yes</td>
	</tr>

	<tr>
		<td>Profile concept</td>
		<td>Yes</td>
		<td>Yes</td>
	</tr>

	<tr>
		<td>Primary use cases</td>
		<td>
			Mobile phones, gaming, headsets, stereo audio streaming, smart homes, wearables, automotive, PCs, security, proximity, healthcare, sports & fitness, etc.
		</td>
		<td>
			Mobile phones, gaming, PCs, watches, sports and fitness, healthcare, security & proximity, automotive, home electronics, automation, Industrial, etc.
		</td>
	</tr>
</table>
