<h4 class="title">h4. Bootstrap heading</h4>

Two months, several interviews, and many iterations of this same principle later, I find myself tackling a really interesting code challenge in an interview for Uber. Given a JSON of timestamps representing app opens, I need to write an algorithm to predict the number of app opens at a later date.

I put it together on a Monday and Tuesday, staying up all Tuesday night to finish it. I want to go to sleep but can’t — I have a 10am phone screen for Boingo Wireless.

“What sort of projects have you worked on?” the voice on the other end asks me.

“Well, uh….over the last couple days I’ve been working on a demand prediction algorithm for Uber,” I say. Realizing that in my current sleep-deprived haze, I can’t speak cohesively about much else, I explain my process step-by-step.

The next week, I hear back from both. Uber’s not interested. But Boingo invites me back for an in-person. Turns out, their demand prediction system needs polishing, and they do their stuff in Django/Python.

I started last Monday.

Lessons learned: how to self-teach with bootcamp focus

If I had to pick one takeaway, I’d pick this.

For relative newcomers to programming, the amount to learn can seem overwhelming.
