<h4 class="title">Our Partners</h4>

<div class="row">

  <div class="col-sm-4 col-6 m15b">
    <img src="/assets/main-product/partners/cadence.png">
  </div>

  <div class="col-sm-4 col-6 m15b">
    <img src="/assets/main-product/partners/cad-ensilic.png">
  </div>

  <div class="col-sm-4 col-6 m15b">
    <img src="/assets/main-product/partners/mindtree.png">
  </div>

  <div class="col-sm-4 col-6 m15b">
    <img src="/assets/main-product/partners/mentor-gfx.png">
  </div>

  <div class="col-sm-4 col-6 m15b">
    <img src="/assets/main-product/partners/imec.png">
  </div>

  <div class="col-sm-4 col-6 m15b">
    <img src="/assets/main-product/partners/fab.png">
  </div>

  <div class="col-sm-4 col-6 m15b">
    <img src="/assets/main-product/partners/smic.png">
  </div>

  <div class="col-sm-4 col-6 m15b">
    <img src="/assets/main-product/partners/hg-logo.png">
  </div>

</div>

