<h4 class="title">Our Partners</h4>

<div class="row">

  <div class="col-sm-4 col-6 m10b">
    <img src="/assets/main-product/partners/mindtree.png" class="partner">
  </div>

  <div class="col-sm-4 col-6 m10b">
    <img src="/assets/main-product/partners/wic.png" class="partner">
  </div>

  <div class="col-sm-4 col-6 m10b">
    <img src="/assets/main-product/partners/imec.png" class="partner">
  </div>

  <div class="col-sm-4 col-6 m10b">
    <img src="/assets/main-product/partners/fab.png" class="partner">
  </div>

  <div class="col-sm-4 col-6 m10b">
    <img src="/assets/main-product/partners/smic.png" class="partner">
  </div>

  <div class="col-sm-4 col-6 m10b">
    <img src="/assets/main-product/partners/hg-logo.png" class="partner">
  </div>

</div>

