<h4 class="title">Updates</h4>

<div class="post-item">

  <div class="row">
    <div class="col-sm-10 col-12">
      <h3 class="m0t m0b">Wearable computing meets Bluetooth Smart</h3>
    </div>
    <div class="col-sm-2 col-6">
      <a href="http://www.edn.com/design/consumer/4432644/Wearable-computing-meets-Bluetooth-Smart" class="btn btn-light" target="_blink">Read More</a>
    </div>
  </div>

  <span class="m10b block"><small>July 23, 2014</small></span>

  <p>ABI Research predicts that wearable computing devices such as smart watches will "explode in popularity" and grow to 485 million annual device shipments by 2018. Behind these devices exists a technology called Bluetooth Smart, designed to consume less power than traditional Bluetooth technology.</p>

</div><!-- / .post-item -->

<div class="post-item">

  <div class="row">
    <div class="col-sm-10 col-12">
      <h3 class="m0t m0b">Middle East and Africa: youth are driving its innovation ecosystems</h3>
    </div>
    <div class="col-sm-2 col-6">
      <a href="http://www.thenextsiliconvalley.com/8864/middle-east-and-africa-youth-are-driving-its-innovation-ecosyst?page=show" class="btn btn-light" target="_blink">Read More</a>
    </div>
  </div>

  <span class="m10b block"><small>February 23, 2013</small></span>

  <p>
    A headline that caught my eye this week was in the Huffington Post, ‘Why a War & Shrinking Economy Can’t Stop Syrian Innovation’, and having just returned from Libya, I can see the point of the article. It suggests that war, terrorism or violence doesn’t stop the enthusiasm of youngsters to make things happen, sometimes despite government.
  </p>

</div><!-- / .post-item -->

<div class="post-item">

  <div class="row">
    <div class="col-sm-10 col-12">
      <h3 class="m0t m0b">Are We Over-Engineering Hospital Sanitizer Solutions?</h3>
    </div>
    <div class="col-sm-2 col-6">
      <a href="http://inventorspot.com/articles/are_we_overengineering_hospital_sanitizer_solutions" class="btn btn-light" target="_blink">Read More</a>
    </div>
  </div>

  <span class="m10b block"><small>December 25, 2013</small></span>

  <p>
    The story of Ignaz Semmelweiss who discovered the importance of hand hygiene is a sad one. A pioneer of washing hands between examinations to prevent the spread of infection among patients, his practice only reached widespread accepted years after his death...
  </p>

</div><!-- / .post-item -->
